page-medical-care {
  .contentColor{
    background: #f4f4f4;
  }

//////////////////////////////////Start Loading
  .loadingMedicalCare{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 3px;
  }
  .fitTheView{
    padding-left: 8px;
    padding-right: 8px;
    background-color: #F4F4F4F4;
  }
////////////////////////////////////End Of Loading

//////////////////////////////////START CARD WITH FLIP ANIMATION

  .card-md {
    border-radius: 15px;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }

  .card-lg{
    border-radius: 15px;
    transition: 1s all linear;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }

  .card-xl{
    border-radius: 15px;
    transition: 1s all linear;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }

  .card-sm{
    border-radius: 15px;
    transition: 1s all linear;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }

  .card-xs{
    border-radius: 15px;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }

  .card-ios {
    border-radius: 15px;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    h2 {
      margin-top: 17px;
    }
  }

  ion-card{
    border-radius: 15px;
    transition: all 1s ease-in-out;
  }

  .editDivView{
    margin-bottom: 10px;
    ion-fab[bottom][edge]{
      bottom: -5px;
      z-index: 1;
    }
  }

  .scale-up-center {
    //width: 100%;
    position: relative;
    text-align: -webkit-center;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  avatar ion-img, .item-md ion-avatar img {
    width: 50px;
    height: 50px;
  }

//////////////////////////////////END CARD WITH FLIP ANIMATION

/////////////////////////////////START FRONT OF THE CARD

  .closeInDiv{
    position: absolute;
    height: 28px;
    width: 28px;
    top: 0px;
    right: 2px;
    font-size: 1.9rem;
  }

  .studentName{
    padding: 0 12px;
    font-size: 18px;
    color: #464646;
    font-weight:bold;
    width: 100%;
    display: block;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .studentClass{
    padding: 0 12px;
    font-size: 12px;
    color: #7D7B7B;
    position: relative;
    //font-weight:bold;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .creationDate{
    display: block;
    padding: 3px 12px;
    font-size: 12px;
    color: #7D7B7B;
    position: relative;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .studentMedication{
    padding: 0 12px;
    font-size: 24px;
    color: #7D7B7B;
    position: relative;
    font-weight:bold;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center !important;
  }

  .label-md {
    margin: 13px 8px 5px 0;
  }

  .dosagePart{
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 0;
    height: 18px;
    width: 100%;
    display: inline-flex;
  }

  .imgDosage{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  .separatImg{
    width: 100%;
    display: flex;
  }

  .dosageNumber{
    font-size: 14px;
    font-weight:bold;
    width: 50%;
    font-style: normal;
    align-self: center;
    text-align: left;
    color: #454545;
  }

  .dosageType{
    font-size: 14px;
    font-weight:bold;
    width: 50%;
    font-style: normal;
    align-self: center;
    text-align: left;
    color: #454545;
  }



  .dosagePartWithoutMargin{
    height: 18px;
    width: 100%;
    display: inline-flex;
  }

  .imgSpace{
    width: 18px;
    height: 18px;
    margin-right: 8px;
    display: inline-flex;
  }

  .separatValue{
    height: 18px;
    width: 100%;
    display: inline-flex;
  }

  .dosageNumberValue{
    font-size: 12px;
    font-weight:bold;
    width: 50%;
    font-style: normal;
    text-align: center;
    align-self: center;
    color: #454545;
  }

  .dosageTypeValue{
    font-size: 12px;
    font-weight:bold;
    width: 50%;
    font-style: normal;
    text-align: center;
    align-self: center;
    color: #454545;
  }


  .dosageTimes{
    font-size: 14px;
    font-weight:bold;
    height: 18px;
    width: 100%;
    font-style: normal;
    color: #454545;
    align-self: center;
    text-align: left;
  }


  .imgSpaceButton{
    width: 18px;
    margin-right: 8px;
    display: inline-flex;
  }

  .dosagePartForButton{
    padding-left: 16px;
    width: 100%;
    display: block;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }

  .timesColor{
    color: #454545;
  }

  .separatButtonValue{
    width: 100%;
    display: block;
  }

  .buttonTime{
    margin-right: 8px;
  }

  .confirmTime{
    color: white;
    background: #37D80F;
    border-color: #37D80F;
    transition: 1s ease-in-out;
  }

  .buttonDiv{
    width: fit-content;
    display: inline-table;
    height: fit-content;
    position: relative;
  }

  .buttonActionTime{
    padding-right: 16px;
    padding-left: 16px;

    .button-block-ios{
      border-radius: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .buttonActionTimeConfirm{
    padding-right: 16px;
    padding-left: 16px;

    .button-block-ios{
      border-radius: 50px;
      box-shadow: 0 0 0 0;
    }
  }

  .bottomSpace{
    display: block;
    height: 10px;
  }
/////////////////////////////////END FRONT OF THE CARD

/////////////////////////////////START BACK OF THE CARD

  .DaysValue{
    font-size: 12px;
    font-weight:bold;
    width: 100%;
    font-style: normal;
    text-align: center;
    align-self: center;
    color: #848484;
  }

  .dosagePartForInstruction{
    width: 100%;
    display: inline-flex;
  }

  .separatInstructionValue{
    width: 100%;
    display: block;
  }

  .Instructions{
    margin-right: 8px;
  }

/////////////////////////////////END BACK OF THE CARD

}
