<ion-header>
<ion-navbar color="primary">
  <ion-buttons left style="width: 30px;">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title text-center>MedicalCare</ion-title>
  <ion-buttons right>
    <button ion-button [disabled]="true">
    </button>
  </ion-buttons>
</ion-navbar>
</ion-header>


<ion-content padding class="contentColor">

  <!--SCROLL TO REFRESH-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading && medicalRecords.length < 1">
    <img class="loadingMedicalCare" src="assets/imgs/heartbeat.svg">
  </div>

  <ion-item class="fitTheView" *ngIf="true">
    <ion-label class="textColor">Status</ion-label>
    <ion-select [(ngModel)]="theStatus" (ngModelChange)="statusModelChange(true)" interface="popover">
      <ion-option [selected]="theStatus" *ngFor="let status of allStatusInMedication" >{{status}}</ion-option>
    </ion-select>
  </ion-item>

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let medicine of medicalRecords;let k = index" col-12 col-sm-12 col-xl-4 col-lg-6 col-md-6>
  <!--START THE CARD-->

      <div class="editDivView">
        <!--<ion-card class="scale-up-center" *ngIf="checkMedicationTime(time.time,medicine.oneMedication) && !checkIfTaken(time.medicationsNotifications)">-->
        <ion-card class="scale-up-center">

          <ion-item mode="md">

            <ion-avatar item-start>
              <img src="assets/imgs/profile.png" *ngIf="!medicine.student.profileImg">
              <img [src]="medicine.student.profileImg" *ngIf="medicine.student.profileImg">
            </ion-avatar>

            <label class="studentName" text-capitalize>{{ medicine.student.name}}</label>
            <label class="studentClass" text-capitalize>{{medicine.student.classes.grade.name+" - "+medicine.student.classes.name}}</label>
            <label class="creationDate" text-capitalize>{{ medicine.oneMedication.creationDate}}</label>


            <div class="buttonOnImg">
              <button ion-button class="closeInDiv" clear icon-only *ngIf="false" item-end (click)="openMenu($event)">
                <!--<button ion-button class="closeInDiv" clear icon-only *ngIf="medicine.createdFrom == 'web'" item-end (click)="openMenu($event)">-->
                <ion-icon style="background: #eee0;color: #000000;" name="md-more" class="buttonShape" ></ion-icon>
              </button>
            </div>
          </ion-item>

          <label class="studentMedication">{{medicine.oneMedication.medicine.name}}</label>

          <div class="dosagePart">

            <img class="imgDosage" src="assets/icon/times.png"/>
            <label class="dosageTimes">Times of Dosages</label>

          </div>


          <div class="dosagePartForButton">
            <div class="imgSpaceButton"></div>
            <div class="buttonDiv">
              <label class="timesColor">{{optimizeTimesData(medicine.oneMedication.medicationSchedule)}}</label>
            </div>
          </div>


          <span *ngIf="medicine.activeMedication && !medicine.activeMedicationTaken">
            <div class="dosagePart">
              <img class="imgDosage" src="assets/icon/warning.png"/>
              <label class="dosageTimes">Instructions</label>
            </div>


            <div class="dosagePartForButton">
              <div class="imgSpaceButton"></div>
              <div class="buttonDiv">
                <label class="timesColor">{{optimizeInstructionData(medicine.oneMedication.instructions)}}</label>
              </div>
            </div>
          </span>

          <span *ngIf="(medicine.activeMedication && medicine.activeMedicationTaken) || !medicine.activeMedication">
            <div class="dosagePart">
              <img class="imgDosage" src="assets/icon/calendar.png"/>
              <label class="dosageTimes">Days</label>
            </div>

            <div class="dosagePartForButton">
              <div class="imgSpaceButton"></div>
              <div class="buttonDiv">
                <label class="timesColor">{{setDaysOfMedication(medicine.oneMedication.medicationSchedule[0])}}</label>
              </div>
            </div>
          </span>

          <span *ngIf="!medicine.activeMedication && !medicine.activeMedicationTaken">
            <div class="dosagePart">
              <img class="imgDosage" src="assets/icon/sand-clock.png"/>
              <div class="separatImg">
                <label class="dosageNumber">From</label>
                <label class="dosageType">To</label>
              </div>
            </div>

            <div class="dosagePartWithoutMargin">
              <div class="imgSpace"></div>
              <div class="separatValue">
                <label class="dosageNumberValue">{{setStartAndEndDate(medicine.oneMedication.startDate)}}</label>
                <img class="imgDosage" src="assets/icon/FromToArrow.png"/>
                <label class="dosageTypeValue">{{setStartAndEndDate(medicine.oneMedication.endDate)}}</label>
              </div>
            </div>
          </span>

          <div class="buttonActionTime" [ngClass]="medicine.activeMedicationTaken?'buttonActionTimeConfirm':'buttonActionTime'" *ngIf="(medicine.activeMedication && medicine.activeMedicationTaken) || ( medicine.activeMedication && !medicine.activeMedicationTaken)">
            <button mode="ios" class="buttonTime" [ngClass]="medicine.activeMedicationTaken?'confirmTime':'buttonTime'" [id]="'timeButton'+k" ion-button block  (click)="confirmTime($event,'timeButton'+k,medicine.timeOfActiveMedication.id,checkIfTaken(medicine.timeOfActiveMedication.medicationsNotifications))">
              {{writeOnTimeButton(medicine)}}
            </button>
          </div>

          <div class="bottomSpace"></div>
        </ion-card>
      </div>

    </ion-col>
  </ion-row>
</ion-grid>

  <!--SCROLL TO ADD MORE-->
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
