<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Send New Notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <!--<rl-tag-input-->
    <!--[(ngModel)]="sendTo"-->
    <!--(ngModelChange)="checkArray(selectedTag)"-->
    <!--[addOnBlur]="false"-->
    <!--[autocomplete]="true"-->
    <!--[autocompleteOprations]="autocompleteArray"-->
    <!--[autocompleteItems]="preparedTags"-->
    <!--placeholder="To :">-->
  <!--</rl-tag-input>-->

  <ng-select
    #ngSelect
    [items]="preparedTags"
    [dropdownPosition]="'down'"
    [multiple]="true"
    bindLabel="name"
    groupBy="header"
    [selectableGroup]="false"
    [closeOnSelect]="true"
    placeholder="To :"
    [(ngModel)]="this.sendTo"
    (close)="onChange(ngSelect)">
    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
      {{item.header | uppercase}}
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      {{item.name}}
    </ng-template>
  </ng-select>

  <ion-item>
  <ion-input type="text" id="titleBox" [(ngModel)]="Title" placeholder="Title"></ion-input>
  </ion-item>

  <ion-item>
  <ion-textarea rows="6" [type]="text" spellcheck [(ngModel)]="Details" placeholder="Details" ></ion-textarea>
  </ion-item>

  <ion-item *ngIf="accountServ.getUserRole().notificationTagView">
    <ion-label class="textColor">Select Tag</ion-label>
    <ion-select [(ngModel)]="tags" multiple interface="popover">
      <ion-option *ngFor="let tag of tagsArr" >{{tag.name}}</ion-option>
    </ion-select>
  </ion-item>

  <div style="height: 16px; background-color: white"></div>

  <button ion-button block outline class="fileContainer" *ngIf="accountServ.getUserRole().notificationAttachmentUpload">
    Choose Files
    <input type="file" multiple #file id="inputFiles" (change)="filesChange()">
  </button>

  <div >
    <ion-label text-center style="color: #f53d3d" *ngIf="showSupportFiles">
      The following files is only supported <br> (Image,PDF,Word,Excel,Powerpoint,Audio,Video,Text)
    </ion-label>
  </div>

      <ion-slides pager style="height: 316px; padding: 8px" *ngIf="attachmentArray && attachmentArray.length > 0" >
        <ion-slide *ngFor="let item of attachmentArray; index as i">
          <h3 padding-top="20px">{{item.name}}</h3>
          <div class="container">
            <img justify-content-center [src]="item.url" *ngIf="item.type == 'IMAGE'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' &&
             item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO'
             && item.type != 'VIDEO'">
           <ion-icon name="close-circle" class="buttonOnImg" (click)="deleteAttach(i)"></ion-icon>
          </div>
        </ion-slide>
  </ion-slides>



  <div style="height: 8px"></div>
  <ion-row>
    <button ion-button outline block style="width: calc(50% - 4px)" [disabled]="!activeSend()" (click)="sendNotification()">Send</button>
    <span style="width: 8px"></span>
    <button ion-button outline block style="width: calc(50% - 4px)" color="danger" (click)="close()">Cancel</button>
  </ion-row>
</ion-content>


