<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Send New Notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <rl-tag-input
    [(ngModel)]="sendTo"
    (ngModelChange)="checkArray(selectedTag)"
    [addOnBlur]="false"
    [autocomplete]="true"
    [autocompleteOprations]="autocompleteArray"
    [autocompleteItems]="preparedTags"
    placeholder="To :">
  </rl-tag-input>



  <ion-item>
  <ion-input type="text" id="titleBox" [(ngModel)]="Title" placeholder="Title"></ion-input>
  </ion-item>

  <ion-item>
  <ion-textarea rows="6" [type]="text" spellcheck [(ngModel)]="Details" placeholder="Details" ></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label class="textColor">Select Tag</ion-label>
    <ion-select [(ngModel)]="tags" multiple interface="popover">
      <ion-option *ngFor="let tag of tagsArr" >{{tag.name}}</ion-option>
    </ion-select>
  </ion-item>

  <div style="height: 16px; background-color: white"></div>

  <button ion-button block outline class="fileContainer">
    Choose Files
    <input type="file" multiple #file (change)="filesChange()">
  </button>

  <div >
    <ion-label text-center style="color: #f53d3d" *ngIf="showSupportFiles">
      The following files is only supported <br> (Image,PDF,Word,Excel,Powerpoint,Audio,Video,Text)
    </ion-label>
  </div>

      <ion-slides pager style="height: 316px; padding: 8px" *ngIf="attachmentArray && attachmentArray.length > 0" >
        <ion-slide *ngFor="let item of attachmentArray; index as i">
          <h3 padding-top="20px">{{item.name.substring(17)}}</h3>
          <div class="container">
            <img class="imgUrlPost" justify-content-center [src]="item.url" *ngIf="item.type == 'IMAGE'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
            <img class="imgAttachPost" justify-content-center src="assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' &&
             item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO'
             && item.type != 'VIDEO'">
            <button class="buttonOnImg" icon-only (click)="deleteAttach(i)"><ion-icon name="close-circle"></ion-icon></button>
          </div>
        </ion-slide>
  </ion-slides>


</ion-content>
<ion-footer>
  <ion-row>
  <div col-xl-8 col-lg-8 col-md-8 col-sm-8 col-4></div>
  <div col-xl-4 col-lg-4 col-md-4 col-sm-4 col-8>
      <button ion-button item-end color="danger" (click)="close()">Cancel</button>
     <button ion-button item-end [disabled]="!activeSend()" (click)="sendNotification()">Send</button>
  </div>
  </ion-row>
</ion-footer>

