page-notification-edit {
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
  .cardClass{
    border-radius: 15px;
  }

  .slide-zoom {
    height: fit-content;
    padding: 0;
  }

  ion-slides {
    padding: 0;
    height: fit-content;
  }

  .slideCard{
    //background-color: #E5E5E5;
  }
  .swiper-slide, .swiper-wrapper {
    width: 100%;
    padding: 0;
  }

  .imgUrl{
    height: 200px;
    //width: 100%;
    background: #eee0;
    margin-bottom: 35px;
  }

  .imgAttach{
    height: 200px;
    background: #eee0;
    margin-bottom: 35px;
  }

  .editInput{
    max-width: 100%;
    height: auto;
    font-size: 2.4rem;
  }

  .editDescribtion{
    max-width: 100%;
    height: fit-content;
  }

  .text-input-ios{
    margin: 0 0 16px 0;
  }
  .text-input-md{
    margin: 0 0 8px 0;
  }
  .mat-form-field {
    padding: 8px;
    width: 100%;
  }
  .buttonEditCancel{
    border-radius: 8px;
    max-width: 47%;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3px;
    margin-left: 3px;
  }

  .buttonsRow{
    padding-right: 8px;
    padding-left: 8px;
  }

}
