<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only [disabled]="true">
        <ion-icon></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{student.studentName}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-title text-center>{{student.searchByClassGrade}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="contentColor">
  <div class="loadDiv" *ngIf="loading">
    <img class="editloadingImageOpened" src="assets/imgs/load.svg">
  </div>

<div #ChatDialogue class="chat_scroll">
  <div *ngFor="let dialoug of chatDialogs;let i = index">

    <div class="student-bubble" *ngIf="dialoug.user == null || dialoug.user == '' ">

        <img class="editProfileImageStudent" src="assets/imgs/profile.png" *ngIf="!student.studentImageUrl">
        <img class="editProfileImageStudent" [src]="student.studentImageUrl" *ngIf="student.studentImageUrl">

      <div class="studentTalk">
        <h4 class="timeContent">@ {{getDate.transformTheDate(dialoug.dateTimeSent,'HH:mm MMM dd, yyyy')}}</h4>
        <p class="bodyContent">{{dialoug.message}}</p>
      </div>
    </div>

    <div class="teacher-bubble" *ngIf="dialoug.user != null">
      <div class="teacherTalk">
        <ion-icon [id]="'errorIcon'+i" class="ErrorIcon" name="md-refresh-circle" color="danger" *ngIf="dialoug.errorSend" (click)="reloadSend(dialoug,i)"></ion-icon>
        <h4 class="timeContent">@ {{getDate.transformTheDate(dialoug.dateTimeSent,'HH:mm MMM dd, yyyy')}}</h4>
        <p class="bodyContent"><b>{{dialoug.user.name}}</b><br>{{dialoug.message}}</p>
      </div>

        <img class="editProfileImageTeacher" src="assets/imgs/profile.png">
    </div>

  </div>

</div>
</ion-content>

<ion-footer color="primary" class="new_message">
  <div class="card-typing">
    <mat-form-field class="editFormChat" floatLabel="never">
        <textarea matInput class="editInputChat" matTextareaAutosize matAutosizeMinRows="1"
                  matAutosizeMaxRows="3" placeholder="Type here..." [(ngModel)]="theMessage"></textarea>
    </mat-form-field>
    <button ion-button icon-only clear class="send-chat" (click)="sendMessage()" [disabled]="!theMessage">
      <img src="assets/imgs/send-button.png">
    </button>
  </div>
</ion-footer>
