<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Notification Receiver(s)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: #e5e5e5">
  <ion-label style="text-align: center;" *ngIf="receiverListStudents.length == 0">No receivers have been Chosen</ion-label>
  <div *ngIf="receiverListStudents.length > 0">
    <ion-searchbar style="padding: 0" (ionInput)="getItems($event)"></ion-searchbar>
    <br>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let itm of receiverListStudents">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{itm.class}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ion-card  *ngFor="let stud of itm.studentlist">
          <ion-item>
            <ion-label style="height: 21px;">
              {{stud.student.name}}
              <span class="circleGreen" style="float: right" *ngIf="stud.seenByParent || stud.seenByStudent"></span>
              <span class="circleRed" style="float: right" *ngIf="!stud.seenByParent && !stud.seenByStudent"></span>
            </ion-label>
          </ion-item>
        </ion-card>

            <ion-label text-center style="height: 21px;" *ngIf="itm.studentlist.length == 0">
              No students here !
            </ion-label>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ion-fab  bottom right>
    <button ion-fab (click)="downloadReceiversPdf()" *ngIf="receiverListStudents.length > 0">
      <ion-icon name="download"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
