report-comment {
  left: 0;
  position: fixed;
  .slide-up-comments-container {
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 30%;
    height: 70%;
    overflow: hidden;
    transition: all 500ms;
  }

  .slide-down-comments-container {
    top: calc(100% - 40px);
    background: #1a74f1;
    position: fixed;
    width: 100%;
    height: 40px;
    overflow: hidden;
    transition: all 500ms;
  }

  .comment-message-container {
    //  display: inline;
    transform-origin: 0 0;
  }
  .comment-message-bubble {
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    min-width: 45%;
    max-width: 75%;
    transition: all 1s ease-in-out;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .comment-message {
    margin: 0;
    transition: all 1s ease-in-out;
  }

  .comment-message-sender {
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    margin-top: 4px;
    margin-right: 8px;
    display: inline-block;
    transition: all 1s ease-in-out;
  }

  .comment-message-awaiting{
    color: #ff8f00;
    display: inline;
    padding-right: 15px;
    transition: all 1s ease-in-out;
  }

  .comment-message-date {
    font-size: 11px;
    opacity: 0.75;
  }
  .comment-message-text {
    margin-top: 4px;
    font-size: 13px;
    white-space: pre-line;
    //transition: all 1s;
  }

  .comment-message-edit {
    border-radius: 10px;
    font-size: 13px;
    background: white;
    // transition: all 1s;
    textarea {
      margin: 0;
      padding: 4px;
      width: 100%;
    }
  }
  .comment-message-actions{
    position: absolute;
    right: 12px;
    top: 0;

    *{
      padding: 0;
      margin: 0;
    }
    .comment-message-actions-button{
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
    .spinner-md-crescent circle {
      stroke: white;
    }
    .comment-message-actions-loading {
      width: 20px;

    }
    //.comment-message-save:before{
    //    //color:gainsboro;
    //  transform: scaleX(1) !important;
    //}
    //.comment-message-actions-icon:before{
    //  transform: scaleX(0.15);
    //  font-weight: bold;
    //}
  }

  .clear {
    clear: both
  }
  .from-me {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #6AB4D6;
    border-radius: 25px;
    float: right;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -3px;
      right: -7px;
      height: 20px;
      border-right: 20px solid #6AB4D6;
      border-bottom-left-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -2px;
      right: -56px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-left-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
  .from-them {
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 25px;
    color: #333;
    float: left;

    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -3px;
      left: -7px;
      height: 20px;
      border-left: 20px solid #E5E5EA;
      border-bottom-right-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 3;
      bottom: -2px;
      left: 4px;
      width: 26px;
      height: 20px;
      background: white;
      border-bottom-right-radius: 10px;
      -webkit-transform: translate(-30px, -2px);
    }
  }
  .new-comment-text {
    border: 1px solid #C8C5C5;
    box-sizing: border-box;
    border-radius: 15px;
    display: inline-block;
    width: calc(100% - 60px);
    padding: 12px;
    line-height: 20px;
  }

  .new-comment-button-container {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    position: relative;
  }
  .new-comment-button {
    margin-left: 5px !important;
    position: absolute !important;
    top: 17%;
  }
  .new-comment-spinner {
    margin-left: 12px !important;
    position: absolute !important;
    top: 28%;
  }
  .comments-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-comments-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #7b7b7b;
  }
  .comments-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.35;
  }

  .item-md{
    background-color: #fff0;
  }

  .item-ios{
    background-color: #fff0;
  }

  .item-block {
    min-height: 0;
    transition: all 1s ease-in-out !important;
  }

  .item.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0;
  }

}


