page-report {
  .contentColor{
    background: #e5e5e5;
  }

  .mat-expansion-panel-body {
    padding: 0 0px 16px;
    background: #e5e5e5;
  }

  .container{

  }

  .fa-arrow-down{
    padding-right: 5px;
    padding-left: 0;
    -webkit-transform: rotate(0deg);
    transition: transform 0.2s linear;
  }


  .fa-arrow-down.open{
    padding-left: 5px;
    padding-right: 0;
    -webkit-transform: rotate(180deg);
    transition: transform 0.2s linear;
  }

  .circleGreen:before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #468847;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
  }

  .circleRed:before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #b94a48;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
  }


}
