@import "~@ng-select/ng-select/themes/default.theme.css";
/deep/ app-medication-notification{
  .contentColor{
    --background: #5C87F7;
  }

  .containerDIV{
    height: 100%;
    width: 100%;
  }

  .medicationLable{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 35px;
    text-align: center;
    width: 100%;
    display: block;
    color: #FFFFFF;
  }

  .dosageNumberType{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: block;
    color: #FFFFFF;
  }

  .studentData{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block;
    color: #FFFFFF;
  }

  .divOfImg{
    display: flex;
    width: 100%;
    left: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .medicationTypeImg{
    display: block;
    width: fit-content;
    height: 45%;
    justify-content: center;
    text-align: center;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .midScreen{
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
  }

  .leftButtonClass{
    display: inline-block;
    border-color: white;
    border-width: 1px;
    height: 60px;
    width: 130px;
    margin-left: 0;
    margin-right: 0;
    --border-radius: 15px 0px 0px 15px;
    --color: white;
  }

  .rightButtonClass{
    display: inline-block;
    border-color: white;
    border-width: 1px;
    height: 60px;
    width: 130px;
    margin-left: 0;
    margin-right: 0;
    --border-radius: 0px 15px 15px 0px;
    --color:white;
  }
}
