<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Edit Notification</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding style="background: #F4F4F4;">

  <form #updateForm="ngForm" (ngSubmit)="updateNotify(updateForm)">

    <ion-card class="cardClass">
      <ion-slides pager *ngIf="notificationAttach.length>0" >
        <ion-slide class="slideCard" *ngFor="let item of notificationAttach">
          <div style="text-align: -webkit-center;">
            <img class="imgUrl" justify-content-center [src]="item.url" *ngIf="item.type == 'IMAGE'">
            <img class="imgAttach" justify-content-center src="assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
            <img class="imgAttach" justify-content-center src="assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
            <img class="imgAttach" justify-content-center src="assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
            <img class="imgAttach" justify-content-center src="assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
            <img class="imgAttach" justify-content-center src="assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
            <img class="imgAttach" justify-content-center src="assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
            <img class="imgAttach" justify-content-center src="assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' && item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO' && item.type != 'VIDEO'">
          </div>
        </ion-slide>
      </ion-slides>

      <mat-form-field>
        <textarea matInput class="editInput" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" *ngIf="notificationAttach.length>0" type="text" [(ngModel)]="notificationTitle" name="notifyTitle" id="titleBox" required [value]="notificationTitle" placeholder="Title" text-center></textarea>
        <textarea matInput class="editInput" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" *ngIf="notificationAttach.length<=0" type="text" [(ngModel)]="notificationTitle" name="notifyTitle" id="titleBox" required [value]="notificationTitle" placeholder="Title"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput class="editDescribtion" *ngIf="notificationAttach.length>0" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6" [(ngModel)]="notificationDetails" name="notifyDetails" id="detailsBox" [value]="notificationDetails" [type]="text" required placeholder="Details" text-center></textarea>
        <textarea matInput class="editDescribtion" *ngIf="notificationAttach.length<=0" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6" [(ngModel)]="notificationDetails" name="notifyDetails" id="detailsBox" [value]="notificationDetails" [type]="text" required placeholder="Details" ></textarea>
      </mat-form-field>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/profile.png">
        </ion-avatar>
        <ion-label text-capitalize class="labelNextAvatar">{{notificationUser}}</ion-label>
      </ion-item>
    </ion-card>

    <ion-row class="buttonsRow">
      <ion-col size="6" >
        <ion-button class="buttonEditCancel" item-start [disabled]="!updateForm.form.valid" type="submit">Edit</ion-button>
      </ion-col>
      <ion-col size="6" >
        <ion-button class="buttonEditCancel" item-end color="danger" type="reset" (click)="close()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>

