<ion-header mode="ios">
  <ion-toolbar mode="ios" class="container border-remove">
    <ion-buttons slot="start">
      <ion-menu-button class="icon-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container" scrollY="false" scrollX="false">

  <div style="text-align: center;margin-top: 10px;">

    <div class="rankTwoDiv">
      <div class="rankNumDiv">
        2
      </div>
      <img class="secoundPlaceImg" src="assets/imgs/profile.png"/>
      <label class="firstNameDiv">
        Name2
      </label>
      <label class="lastNameDiv">
        LASTNAME2
      </label>
    </div>
    <div class="rankOneDiv">
      <div class="rankNumDiv">
        1
      </div>
      <img class="firstPlaceImg" src="assets/imgs/profile.png"/>
      <label class="firstNameDiv">
        Name2
      </label>
      <label class="lastNameDiv">
        LASTNAME2
      </label>
    </div>
    <div class="rankThreeDiv rankLastDiv">
      <div class="rankNumDiv">
        3
      </div>
      <img class="thridPlaceImg" src="assets/imgs/profile.png"/>
      <label class="firstNameDiv">
        Name2
      </label>
      <label class="lastNameDiv">
        LASTNAME2
      </label>
    </div>
  </div>

  <ion-content class="container" >


    <ion-list style="background: #faebd700;margin-top: 20px;">
      <ion-item class="itemEdit">
        <div class="dateOneDiv">
          <label class="todayNum">24</label>
        </div>
        <div class="infoOneDiv">
          <img class="imgOneProfile" src="assets/imgs/profile.png"/>
          <div class="partTwoOne">
            <div class="topPart">
              <label class="fristName">fristName</label>
            </div>
            <div class="downPart">
              <label class="lastName">lastName</label>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>


  </ion-content>

</ion-content>
