<ion-header mode="ios">
  <ion-toolbar mode="ios" class="container border-remove">
    <ion-buttons slot="start">
      <ion-menu-button class="icon-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container" scrollY="false" scrollX="false">

  <div style="text-align: center;margin-top: 10px;">

    <div class="rankTwoDiv">
      <div class="rankNumDiv">
        {{Rank2.index}}
      </div>
      <img class="secoundPlaceImg" src="assets/imgs/profile.png" *ngIf="!Rank2.user.profileImg"/>
      <img class="secoundPlaceImg" [src]="Rank2.user.profileImg" *ngIf="Rank2.user.profileImg"/>
      <label class="firstNameDiv">
        {{getFristName(Rank2.user.name)}}
      </label>
      <label class="lastNameDiv">
        {{getlastName(Rank2.user.name)}}
      </label>
    </div>
    <div class="rankOneDiv">
      <div class="rankNumDiv">
        {{Rank1.index}}
      </div>
      <img class="firstPlaceImg" src="assets/imgs/profile.png" *ngIf="!Rank1.user.profileImg"/>
      <img class="firstPlaceImg" [src]="Rank1.user.profileImg" *ngIf="Rank1.user.profileImg"/>
      <label class="firstNameDiv">
        {{getFristName(Rank1.user.name)}}
      </label>
      <label class="lastNameDiv">
        {{getlastName(Rank1.user.name)}}
      </label>
    </div>
    <div class="rankThreeDiv rankLastDiv">
      <div class="rankNumDiv">
        {{Rank3.index}}
      </div>
      <img class="thridPlaceImg" src="assets/imgs/profile.png" *ngIf="!Rank3.user.profileImg"/>
      <img class="thridPlaceImg" [src]="Rank3.user.profileImg" *ngIf="Rank3.user.profileImg"/>
      <label class="firstNameDiv">
        {{getFristName(Rank3.user.name)}}
      </label>
      <label class="lastNameDiv">
        {{getlastName(Rank3.user.name)}}
      </label>
    </div>
  </div>

  <ion-content class="container" >


    <ion-list style="background: #faebd700;margin-top: 20px;">
      <ion-item class="itemEdit" *ngFor="let user of allOtherRanks">
        <div class="dateOneDiv">
          <label class="todayNum">{{user.index}}</label>
        </div>
        <div class="infoOneDiv">
          <img class="imgOneProfile" src="assets/imgs/profile.png" *ngIf="!user.user.profileImg"/>
          <img class="imgOneProfile" [src]="user.user.profileImg" *ngIf="user.user.profileImg"/>
          <div class="partTwoOne">
            <div class="topPart">
              <label class="fristName">{{getFristName(user.user.name)}}</label>
            </div>
            <div class="downPart">
              <label class="lastName">{{getlastName(user.user.name)}}</label>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>


  </ion-content>

</ion-content>
