<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Chat</ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="true">
        <ion-icon></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-searchbar
      mode="ios"
      (ionInput)="onSearchInput($event)"
      (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="contentColor">
  <div  *ngIf="loading == true || allStudents.length<=0">
    <img class="loadingChat" src="assets/imgs/chatLoading.svg" *ngIf="loading == true">
    <div class="ImgWithLable" *ngIf="loading == false && allStudents.length<=0">
      <img src="assets/imgs/NoStudent.png">
      <br>
      <ion-title class="labelUnderImage">
        <b>No Students, here...</b>
      </ion-title>
    </div>
  </div>

  <div #LastOpenedContainer class="rowOfOpened" *ngIf="lastStudents.length>0 && loading == false">
    <div class="OpenedPart" *ngFor="let student of lastStudents;let i = index" (click)="openDialog(student,i,'Last')">
      <div class="ImgDiv">
        <img class="editProfileImageOpened" src="assets/imgs/profile.png" *ngIf="!student.profileImg">
        <img class="editProfileImageOpened" [src]="student.profileImg" *ngIf="student.profileImg">
      </div>
        <label class="editUserNameOpened">{{getFristName(student.name)}}</label>
    </div>
  </div>

  <ion-content [class]="lastStudents.length>0? 'scrollInsideWithLastOpened' : 'scrollInsideAlone'" *ngIf="allStudents.length>0 && loading == false">
    <ion-list class="ListColor" mode="ios">
      <ion-item mode="ios" *ngFor="let student of allStudents" (click)="openDialog(student,-1,'All')">

        <div class="itemWithAnimation">
        <span class="imgPart">
          <img class="editProfileImage" src="assets/imgs/profile.png" *ngIf="!student.profileImg">
          <img class="editProfileImage" [src]="student.profileImg" *ngIf="student.profileImg">
        </span>

        <span class="dataPart">
          <ion-title class="editUserName">{{student.name}}</ion-title>
          <h2 class="moreInfo"><b>Grade:</b> {{student.classes.grade.name}}</h2>
          <h2 class="moreInfo"><b>Class:</b> {{student.classes.name}}</h2>
        </span>
        </div>

        <div class="border"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
