page-chat {
  .contentColor{
    background: #F8F8F8;
  }
/////////////////////////////Loading
  .loadingChat{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 3px;
  }
//////////////////////////////End Of Loading

//////////////////////////////Null State
  .ImgWithLable{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 3px;
    .labelUnderImage {
      text-align: center;
      width: 400px;
      color: #8e8e8e;
    }
  }
//////////////////////////////End Of Null State


///////////////////////////NavBar Changes

  .searchbar-input-container {
    border-radius: 7px;
    //background-color: rgb(255, 255, 255);
  }

//////////////////////////End Of NavBar Changes



/////////////////////////Opened Student List

  .rowOfOpened{
    max-height: 99px;
    width: 100%;
    padding-top: 8px;
    overflow-x: scroll;
    white-space:nowrap;
    padding-bottom: 8px;
    transition: 1s ease-in-out;
  }

  .OpenedPart{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    list-style: none;
    display: inline-block;
    min-width: 10px;
    width: fit-content;
    align-content: center;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  .ImgDiv{
    text-align: center;
    .editProfileImageOpened{
      position: relative;
      height: 50px;
      width: 50px;
      -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
      border-radius: 100%;
      justify-content: center;
    }
  }

  .editUserNameOpened{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/////////////////////////End of Opened Student List



//////////////////////////Edit All Student's List
  .scrollInsideWithLastOpened{
    background: #F8F8F8;
    height: calc(100% - 99px);
  }

  .scrollInsideAlone{
    background: #F8F8F8;
    height: 100%;
  }

  .itemWithAnimation{
    -webkit-animation: rubber-animation 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rubber-animation 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .list-ios > .item-block:first-child {
    border-top: 0;
  }

  .list-ios > .item-block:last-child {
    border-bottom: 0;
  }

  .ListColor{
    background-color: #F8F8F8;
  }

  .imgPart{
    padding-right: 15px;
  }

  .editProfileImage{
    position: relative;
    height: 35px;
    width: 35px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    top: 50%;
  }

  .dataPart{
    width: calc(100% - 35px);
    display: inline-block;
  }

  .editUserName{
    padding-left: 0;
    margin-left: 0;
    .toolbar-title-md {
      padding: 0 0;
    }
    .toolbar-title-ios {
      padding: 0 0;
      text-align: start;
    }
  }

  .moreInfo{
    width: 50%;
    display: inline-block;
    color: #A0A0A0;
  }

  .border{
    border-bottom: 1px solid #c8c7cc;
    margin-top: 5px;
    margin-left: 46px;
  }

  .label-md {
    margin: 13px 0 0 0;
  }

  .label-ios {
    margin: 13px 0 0 0;
  }

  .item-ios{
    background-color: #F8F8F8;
    h2 {
      margin: 0 8px 2px 0;
    }
  }

  .item-md{
    background-color: #F8F8F8;
    h2 {
      margin: 0 8px 2px 0;
    }
  }

  .list-ios .item-block .item-inner {
    border-bottom: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

//////////////////////////End Of Edit Student's List



/////////////Animations

  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }


  @-webkit-keyframes rubber-animation {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }

    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    }
  @keyframes rubber-animation {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }

    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }

    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
/////////////End Of Animations
}
