<ion-header>
  <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
  <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
  <!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{name}}'s Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content has-header="true">
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
  <div class="container">
    <div class="fb-profile">
      <img align="left" class="fb-image-lg" src="assets/imgs/soon.png" alt="Profile image example"/>
      <img align="left" class="fb-image-profile thumbnail" src="assets/imgs/profile.png" alt="Profile image example"/>
      <div class="fb-profile-text">
        <h1 style="margin-left: 240px;" *ngIf="onCore()">{{name}}</h1>
        <h1 *ngIf="onMobile()">{{name}}</h1>

        <ion-list inset no-lines>

          <ion-item margin-left="20px"> <ion-icon name="person" margin-right="5px"></ion-icon>
            {{userName}}
          </ion-item>

          <ion-item margin-left="20px"> <ion-icon name="call" margin-right="5px"></ion-icon>
            {{userPhone}}
          </ion-item>

          <ion-item margin-left="20px"> <ion-icon name="mail" margin-right="5px"></ion-icon>
            {{userMail}}
          </ion-item>

          <ion-item margin-left="20px"> <ion-icon name="locate" margin-right="5px"></ion-icon>
            {{userAddress}}
          </ion-item>

        </ion-list>

        <div style="height: 1px; background-color: lightgray; margin-left: 80px; margin-right: 80px; margin-top: 40px"></div>

      </div>
    </div>
  </div>


  <!--<div class="formLabel" style="width:100%;">' + drQuestion.question +-->
    <!--':<button type="button" class="btn btn-outline-warning btn-sm" ng-if="dailyReportQuestions[' + drQuestion.questionNumber + '].editQuestion" ng-click="cancelEditigQuestion(' + drQuestion.questionNumber + ')"  style="float:right; margin-left: 7px;" ><i style="font-size:15px; color: #3B9FF3;"  >Cancel </i></button><button type="button" class="btn btn-outline-warning btn-sm" ng-if="editQuestionAllowed" ng-click="editSaveQuestion(' + drQuestion.questionNumber + ')" style="float:right; margin-right: 8px;" >' +-->
      <!--'<i style="font-size:15px; color: #3B9FF3;" ng-if="dailyReportQuestions[' + drQuestion.questionNumber + '].editQuestion" >Save </i><span ng-hide="dailyReportQuestions[' + drQuestion.questionNumber + '].editQuestion" class="glyphicon glyphicon-edit" style="font-size:15px; color: #3B9FF3;"></span></button></div><div class="row" style="width:99%;"><div class="col col-12" style="width:101%;">' +-->
  <!--'<label class="checkbox" ng-repeat="parameter in drQuestion.parametersList" style="width:100%;"><input type="checkbox" name="checkbox' + drQuestion.questionNumber +-->
          <!--'" ng-model="dailyReportAnswer.dailyReportAnswersObjectsList[' + drQuestion.questionNumber + '].answer[parameter.id]"><i></i>{{parameter.value}} <a style="font-size:20px; color:firebrick; float:right;" ng-if="dailyReportQuestions[' + drQuestion.questionNumber + '].editQuestion"><span class="btn btn-link-danger glyphicon glyphicon-remove" ng-click="removeQuestionParameter(' + drQuestion.questionNumber + ',parameter.id)"></span></a></label></div>' +-->
  <!--'</div><div style="width:100%;" ng-if="dailyReportQuestions[' + drQuestion.questionNumber + '].editQuestion" class="input-group"><div><label class="formLabel"><i></i><span></span></label></div><div class="input-group"><input type="text" ng-model="dailyReportQuestionsEditParamTemps[' + drQuestion.questionNumber + '].parameters[0].value" class="form-control" placeholder=" Pleas enter your new question" /><span class="input-group-btn" style="padding-left:10px;"><button class="btn btn-secondary btn-sm" ng-click="addParameterForQuestion(' + drQuestion.questionNumber + ')"><span class="glyphicon glyphicon-plus" style="font-size:15px; color: #4CAF50;"></span><i style="font-size:15px; color: #3B9FF3;"> Add<i></button></span></div>'-->
  <!--+ '</div>-->

</ion-content>
