<ion-header>
  <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{name}}'s Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content has-header="true">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <div class="container">
    <div class="fb-profile">
      <img align="left" class="fb-image-lg" src="../../assets/imgs/soon.png" alt="Profile image example"/>
      <img align="left" class="fb-image-profile thumbnail" src="../../assets/imgs/profile.png" alt="Profile image example"/>
      <div class="fb-profile-text">
        <h1 style="margin-left: 240px;" *ngIf="onCore()">{{name}}</h1>
        <h1 *ngIf="onMobile()">{{name}}</h1>

        <ion-list inset no-lines>

          <ion-item margin-left="20px"> <ion-icon name="person" margin-right="5px"></ion-icon>
            {{userName}}
          </ion-item>

          <ion-item margin-left="20px"> <ion-icon name="call" margin-right="5px"></ion-icon>
            {{userPhone}}
          </ion-item>

          <ion-item margin-left="20px"> <ion-icon name="mail" margin-right="5px"></ion-icon>
            {{userMail}}
          </ion-item>

          <ion-item margin-left="20px"> <ion-icon name="locate" margin-right="5px"></ion-icon>
            {{userAddress}}
          </ion-item>

        </ion-list>

        <div style="height: 1px; background-color: lightgray; margin-left: 80px; margin-right: 80px; margin-top: 40px"></div>

      </div>
    </div>
  </div>
</ion-content>
