page-new-medical-report {
  .contentColor{
    background: #f4f4f4;
  }



  ///////////////////////////Edit Ion-Fab
  .turnImgToBlack{
    -webkit-filter: grayscale(100%) contrast(999%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(999%);
  }
  .turnImgToWhite{
    -webkit-filter: grayscale(100%) contrast(999%) invert(100%);; /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) contrast(999%) invert(100%);;
  }

  .imageInBigFab{
    width:30px;
    height: 30px;
  }

  .imageInSmallFab{
    width:25px;
    height: 25px;
  }


  .fab[mini] {
    margin: 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .fab {
    contain: layout;
    background-color: #0A73A4;
  }

  ion-fab[bottom] {
    bottom: 10px;
  }

  button[ion-fab][mini]{
    padding: 8px;
  }

  ion-fab-list[side=top] {
    top: auto;
    bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    img {
      max-width: 100%;
      border: 0;
      width: 20px;
      height: 20px;
    }
    button[ion-fab] {
      -moz-appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      overflow: visible;
      position: relative;
      //box-shadow: 5px 5px 5px grey;
      -webkit-box-shadow: 1px 1px 1px grey;
      box-shadow: 1px 1px 1px grey;

      ion-label {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        top: -2px;
        right: 40px;
        color: #000000;
        background-color: white;
        line-height: 16px;
        padding: 3px 5px;
        border-radius: 4px;
        -webkit-box-shadow: 1px 1px 1px grey;
        box-shadow: 1px 1px 1px grey;
      }
    }
  }

  ion-fab-list[side=left] {
    margin: 0px 70px;
    img {
      max-width: 100%;
      border: 0;
      width: 25px;
      height: 25px;
    }
    button[ion-fab] {
      -moz-appearance: none;
      -ms-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      overflow: visible;
      position: relative;
      //box-shadow: 5px 5px 5px grey;
      -webkit-box-shadow: 1px 1px 1px grey;
      box-shadow: 1px 1px 1px grey;

      ion-label {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        top: -2px;
        right: 38px;
        color: #000000;
        background-color: white;
        line-height: 16px;
        padding: 3px 5px;
        border-radius: 4px;
        -webkit-box-shadow: 1px 1px 1px grey;
        box-shadow: 1px 1px 1px grey;
      }
    }
  }

  //////////////////////////////End Of Edit Ion-Fab


  //////////////////////////////Start Of Edit Ion-Item && NgSelect

  .ng-select .ng-select-container {
    border: 0px;
  }

  .ng-select .ng-clear-wrapper .ng-clear {
    display: none;
  }

  .mat-form-field {
    //margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 10px;
    padding-bottom: 0;
    width: 100%;
    background: white;
    border-radius: 4px;
  }

  .mat-form-field-wrapper {
    padding-bottom: 2px;
  }

  .mat-form-field-underline {
    bottom: -0.04em;
    //width: 106%;
    //left: -9px;
  }

  .mat-input-element:disabled {
    color: black;
  }

  .spaceBetNgSelect{
    margin-bottom: 15px;
  }

  .timeDate{
    display: block;
  }
  .dateField{
    width: 65%;
    display: inline-block;
    margin-right: 10px;
  }

  .timeField{
    vertical-align: middle;
    line-height: 1.125;
  }

  .editNgView{
    width: 30%;
    background: white;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 0;
    padding-bottom: 0;
    height: 46.06px;
    vertical-align: middle;
    min-width: 89px;
  }
  .mat-checkbox-layout {
    white-space: unset;
  }

  //////////////////////////////End Of Edit Ion-Item && NgSelect


  /////////////////////////////Report Question
  .fileContainer {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
  }

  .fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  .container {
    width: 100%;
    min-height: 210px;
    position: relative;
    text-align: -webkit-center;
  }
  .container img {
    height: 210px;
  }

  .container .closeInDiv{
    -webkit-filter: invert(0.8);
    filter: invert(0.8);
    width: 20px;
    left: 20px;
    bottom: 20px;
    position: absolute;
  }

  .imgUrl{
    height: 200px;
    //width: 100%;
    background: #eee0;
    margin-bottom: 35px;
  }

  .imgAttach{
    height: 200px;
    background: #eee0;
    margin-bottom: 35px;
  }

  .container .buttonOnImg {
    position: absolute;
    top: -50px;
    right: -50px;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100px;
    //transform: rotate(20deg);
    background: #ffffff;
    border-radius: 50%;
  }

  .mainDiv{
    padding-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .mainDivQuestion{
    padding-bottom: 20px;
  }

  .topRightIcon{
    float: right;
    width: 25px;
    height: 25px;
    position: relative;
    right: 11px;
    top: 6px;
  }

  .medicienCell{
    background: #309CCE;
    border-radius: 15px;
    height: 28px;
    width: fit-content;
    margin-right: 10px;
  }

  .medicienCellFullWidth{
    background: #309CCE;
    border-radius: 15px;
    height: 28px;
    width: 100%;
    margin-right: 10px;
  }

  .cancelCell{
    background: #0A73A4;
    border: 1px solid #0A73A4;
    box-sizing: border-box;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    display: inline-block;
  }

  .cancelIcon{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .medicineLable{
    display: inline-block;
    vertical-align: top;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .ErrorIcon{
    float: right;
    /* font-size: 1.8em; */
    width: 25px;
    height: 25px;
    position: relative;
    margin-bottom: -12px;
    right: -11px;
    top: 1px;
    //-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .questionCard{
    border-radius: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 0px ;
    box-shadow: 0px 0px 0px;
  }
  .questionCardElse{
    border-radius: 10px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
  }

  .questionTitle{
    background-color: #5c87f7;
    .formLabel{
      background-color: #5c87f7;
      color: white;
      padding: 10px;
    }

    .formLabelTen{
      background-color: #5c87f7;
      color: white;
      padding: 10px;
      width: calc(100% - 105px);
      display: inline-block;
    }
    .createButton{
      color: white;
      float: right;
      display: inline;
    }
    .cancelButton{
      color: white;
      float: right;
      display: inline;
      width: 55px;
    }
    .saveButton{
      color: white;
      float: right;
      display: inline;
      width: 42px;
    }
  }

  .questionBodyMULTI_SHORT_TEXT_ONE_VIEW_SELECTED{
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    .divRadioButton{
      margin-right: 31px;
    }
  }

  .questionBodyLONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER{
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-bottom: -1px;
  }

  .questionBody{
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;

    .custom-Field_QOne{
      width: 100%;
      .custom-textArea{
        margin-bottom: 0;
      }
      .mat-form-field-wrapper {
        margin-bottom: -17px;
      }
    }

    .custom-Field_QThree{
      .mat-form-field-infix {
        width: fit-content;
        padding: 0;

        input{
          margin-left: 0 !important;
          margin-right: 0 !important;
          padding-bottom: 0 !important;
          top: 0 !important;
        }
      }
    }

    .custom-Field_QFour{
      width: 100%;
      .custom-textArea{
        margin-bottom: 0;
      }
      .mat-form-field-wrapper {
        margin-bottom: -17px;
      }
      textarea.mat-autosize {
        font-size: initial;
      }
      .mat-form-field-label:not(.mat-form-field-empty){
        font-size: larger;
      }
    }

    .custom-Field_QSix{
      width: 100%;
      .custom-textArea{
        margin-bottom: 0;
      }
      .mat-form-field-wrapper {
        margin-bottom: -17px;
      }
      textarea.mat-autosize {
        font-size: initial;
      }
      .mat-form-field-label:not(.mat-form-field-empty){
        font-size: larger;
      }
    }

    .custom-Field_QEight{
      width: 100%;
      margin-top: -18px;
      .custom-textArea{
        margin-bottom: 0;
      }
      .mat-form-field-wrapper {
        margin-bottom: -17px;
      }
      textarea.mat-autosize {
        font-size: initial;
      }
      .mat-form-field-label:not(.mat-form-field-empty){
        font-size: larger;
      }
    }

    .custom-Field_QNine{
      width: 100%;
      .custom-textArea{
        margin-bottom: 0;
      }
      textarea.mat-autosize {
        font-size: initial;
      }
      .mat-form-field-label:not(.mat-form-field-empty){
        font-size: larger;
      }
      .mat-form-field-flex {
        margin-top: 10px;
      }
    }

    .custom-Field_QTen{
      width: 100%;
      .custom-textArea{
        margin-bottom: 0;
      }
      textarea.mat-autosize {
        font-size: initial;
      }
      .mat-form-field-label:not(.mat-form-field-empty){
        font-size: larger;
      }
      .mat-form-field-flex {
        margin-top: 10px;
      }
    }

    .custom-Field_QTwelve{
      width: 70px;
      margin-top: 15px;
      margin-right: 25px;
    }

    .divElevenCheckbox{
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .divElevenButtonIcon{
      height: 25px;
      width: 25px;
      padding: 0;
      bottom: 5px;
      float: right;
    }
    .divElevenInput{
      display: inline-block;
      width: 100%;
    }
    .divElevenOfInput{
      width: calc(100% - 50px);
      height: 40px;
      padding: 0;
    }
    .divElevenOfInputButton{
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      float: right;
    }
    .radioButtonOfDropMenu{
      .radio{
        margin-right: 20px;
        margin-bottom: 10px;
        .mat-radio-outer-circle {
          border-width: 1px;
          border-radius: 50%;
          border-color: #b4b4b4;
          -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

      }
    }

  }

  /////////////////////////////End of Report Question


  //////////////////////////////////////Organize Radio - CheckBox
  .LoopManyCheckWithEdit{
    display:inline-block;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .LopContain{
    display:inline-block;
    padding-right: 0;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .LoopContainWithoutWidth{
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .LoopContainWithFullWidth{
    display:block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .LoopContainFitContent{
    display:inline-block;
    padding-right: 0;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .select-md .select-placeholder {
    color: #222;
  }

  .select-ios .select-placeholder {
    color: #222;
  }

  .imgOfRadio{
    width: 40px;
    height: 40px;
    display: inline;
  }

  .dateTopCenterBoldGray{
    padding: 4px;
    margin: 0;
    color: #488aff;
    font-size: 18px;
  }

  /////////////////////////////////////////Edit All Mat Checkboxes
  .checkbox{
    .mat-checkbox-frame {
      border-width: 1px;
      border-radius: 5px;
      border-color: #b4b4b4;
      -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .mat-checkbox-background {
      border-radius: 5px;
    }

  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #a0a0a0;
  }

  .mat-checkbox-input.cdk-visually-hidden.cdk-focused.cdk-program-focused{
    color: #A0A0A0;
  }
  .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(160, 160, 160,.26);
  }
  .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: rgba(160, 160, 160,.26);
  }
  /////////////////////////////////////////End Of Edit All Mat Checkboxes


  /////////////////////////////////////////Edit All Mat RadioButtons
  .radio{

    .mat-radio-outer-circle {
      border-width: 1px;
      border-radius: 50%;
      border-color: #b4b4b4;
      -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

  }

  .radioLONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER{
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
    .mat-radio-outer-circle {
      border-width: 1px;
      border-radius: 50%;
      border-color: #b4b4b4;
      -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .radioNine{
    margin-right: 20px;
    margin-bottom: 10px;
    .mat-radio-outer-circle {
      border-width: 1px;
      border-radius: 50%;
      border-color: #b4b4b4;
      -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #a0a0a0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #a0a0a0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #a0a0a0;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #a0a0a0;
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(160, 160, 160,.26);
  }
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(160, 160, 160,.26);
  }
  .mat-ripple-element {
    background-color: rgba(0,0,0,.1);
  }
  ///////////////////////////////////////End Of Edit All Mat RadioButtons
  ///////////////////////////////////////End Of Organize Radio - CheckBox
}
