<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
       <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Notification</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let notify of notifications; let i = index" col-12 col-sm-6 col-xl-4 col-lg-6 col-md-4>
        <ion-card>
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/profile.png">
            </ion-avatar>
            <ion-label text-capitalize>{{ notify.senderName}}</ion-label>
            <button item-end (click)="onSelectCard($event,notify.notificationId,notify.title,notify.body,notify.receiversList,notify.tagsListName, i)" class="buttonShape">
              <ion-icon name="more" class="buttonShape" ></ion-icon>
            </button>
          </ion-item>
          <ion-card-content>
            <h1>{{notify.title}}</h1>
            <p>{{notify.body}}</p>

            <div style="height: 16px; background-color: white"></div>

            <ion-slides pager style="height: 300px; padding: 8px" *ngIf="notify.attachmentsList.length>0" >
              <ion-slide *ngFor="let item of notify.attachmentsList" (click)="onAttachmentClick($event,item.name,item.id,item.type,item.url)">
                <img justify-content-center src="item.url" *ngIf="item.type == 'IMAGE'">
                <img justify-content-center src="../../assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
                <img justify-content-center src="../../assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
                <img justify-content-center src="../../assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
                <img justify-content-center src="../../assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
                <img justify-content-center src="../../assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
                <img justify-content-center src="../../assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
                <img justify-content-center src="../../assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' && item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO' && item.type != 'Video'">

              </ion-slide>
            </ion-slides>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right>
    <button ion-fab mini (click)="onOpenView()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

