<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
       <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Notifications</ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="true">
        <ion-icon></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="toolBarShap" color="primary" *ngIf="!platform.is('ios')">
    <ion-segment [(ngModel)]="selectedTab" color="light">
      <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="all" (click)="tabThatSelectedDo('all')">All</ion-segment-button>
      <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="sent" (click)="tabThatSelectedDo('sent')">Sent</ion-segment-button>
      <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="approved" (click)="tabThatSelectedDo('approved')" *ngIf="accountServ.getUserRole().notificationApproved">Awaiting Approval</ion-segment-button>
      <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="archived" (click)="tabThatSelectedDo('archived')" *ngIf="accountServ.getUserRole().archiveNotificationView">Archived</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="contentColor">

  <ion-segment [(ngModel)]="selectedTab" color="primary" style="padding-top: 5px;padding-right: 5px;padding-left: 5px" *ngIf="platform.is('ios')">
    <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="all" (click)="tabThatSelectedDo('all')">All</ion-segment-button>
    <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="sent" (click)="tabThatSelectedDo('sent')">Sent</ion-segment-button>
    <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="approved" (click)="tabThatSelectedDo('approved')" *ngIf="accountServ.getUserRole().notificationApproved">Awaiting Approval</ion-segment-button>
    <ion-segment-button style="min-width: fit-content; padding-left: 6px;padding-right: 6px" value="archived" (click)="tabThatSelectedDo('archived')" *ngIf="accountServ.getUserRole().archiveNotificationView">Archived</ion-segment-button>
  </ion-segment>


  <ion-slides style="height: 100%;" (ionSlideDidChange)="slideChanged()">
    <ion-slide style="height: 100%;">
      <ion-content class="contentScroll">

        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let notify of notifications; let i = index" col-12 col-sm-12 col-xl-4 col-lg-6 col-md-6>
              <div class="editDivView">
              <ion-card class="scale-up-center">

                <div class="buttonOnImg">
                  <button ion-button class="closeInDiv" clear icon-only *ngIf="notify.pending != 'pending' && (accountServ.getUserRole().notificationDelete || accountServ.getUserRole().notificationUpdate||accountServ.getUserRole().notificationCreate)" item-end (click)="onSelectCard($event, i,notify)">
                    <ion-icon style="background: #eee0;color: #000000;" name="more" class="buttonShape" ></ion-icon>
                  </button>
                </div>

                <ion-slides pager *ngIf="notify.attachmentsList.length>0" >
                  <ion-slide *ngFor="let item of notify.attachmentsList" (click)="onAttachmentClick($event,item.name,item.id,item.type,item.url,notify.pending)">
                    <div style="text-align: -webkit-center;">
                      <img class="imgUrl" justify-content-center [src]="item.url" *ngIf="item.type == 'IMAGE'">
                      <img class="imgAttach" justify-content-center src="assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
                      <img class="imgAttach" justify-content-center src="assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
                      <img class="imgAttach" justify-content-center src="assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
                      <img class="imgAttach" justify-content-center src="assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
                      <img class="imgAttach" justify-content-center src="assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
                      <img class="imgAttach" justify-content-center src="assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
                      <img class="imgAttach" justify-content-center src="assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' && item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO' && item.type != 'VIDEO'">
                    </div>
                  </ion-slide>
                </ion-slides>

                <ion-item text-wrap text-center class="lableInItem" *ngIf="notify.attachmentsList.length>0">{{notify.title}}</ion-item>
                <ion-item text-wrap class="lableInItem" *ngIf="notify.attachmentsList.length<=0">{{notify.title}}</ion-item>


                <div style="padding-left: 16px;">
                  <h2 style="color: gray" text-center *ngIf="notify.attachmentsList.length>0">{{notify.body}}</h2>
                  <h2 style="color: gray" text-left *ngIf="notify.attachmentsList.length<=0">{{notify.body}}</h2>
                </div>

                <ion-item>
                  <ion-avatar item-start>
                    <img src="assets/imgs/profile.png">
                  </ion-avatar>

                  <ion-label text-capitalize>{{ notify.senderName}}</ion-label>

                  <div item-end class="containerApprove" *ngIf="accountServ.getUserRole().notificationCanApprove && !notify.approved" >
                    <button [id]="'buttonApprove'+i" class="buttonApprove" (click)="approveNotification(i)"></button>
                  </div>

                  <button ion-button outline item-end class="buttonInCard" *ngIf="notify.pending != 'pending'" (click)="openNotificationViewBy(notify)">{{notify.seenCount}} views</button>
                  <ion-badge color="danger" item-end *ngIf="notify.pending == 'pending'">pending</ion-badge>
                </ion-item>

              </ion-card>
            </div>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-content>
    </ion-slide>



     <!--SENT VIEW-->
    <ion-slide>

      <ion-content class="contentScroll">

        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let notify of notificationsSent; let i = index" col-12 col-sm-12 col-xl-4 col-lg-6 col-md-6>
              <div class="editDivView">
                <ion-card class="scale-up-center">

                  <div class="buttonOnImg">
                    <button ion-button class="closeInDiv" clear icon-only *ngIf="notify.pending != 'pending' && (accountServ.getUserRole().notificationDelete || accountServ.getUserRole().notificationUpdate||accountServ.getUserRole().notificationCreate)" item-end (click)="onSelectCard($event, i,notify)">
                      <ion-icon style="background: #eee0;color: #000000;" name="more" class="buttonShape" ></ion-icon>
                    </button>
                  </div>

                  <ion-slides pager *ngIf="notify.attachmentsList.length>0" >
                    <ion-slide *ngFor="let item of notify.attachmentsList" (click)="onAttachmentClick($event,item.name,item.id,item.type,item.url,notify.pending)">
                      <div style="text-align: -webkit-center;">
                        <img class="imgUrl" justify-content-center [src]="item.url" *ngIf="item.type == 'IMAGE'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' && item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO' && item.type != 'VIDEO'">
                      </div>
                    </ion-slide>
                  </ion-slides>

                  <ion-item text-wrap text-center class="lableInItem" *ngIf="notify.attachmentsList.length>0">{{notify.title}}</ion-item>
                  <ion-item text-wrap class="lableInItem" *ngIf="notify.attachmentsList.length<=0">{{notify.title}}</ion-item>


                  <div style="padding-left: 16px;">
                    <h2 style="color: gray" text-center *ngIf="notify.attachmentsList.length>0">{{notify.body}}</h2>
                    <h2 style="color: gray" text-left *ngIf="notify.attachmentsList.length<=0">{{notify.body}}</h2>
                  </div>

                  <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/imgs/profile.png">
                    </ion-avatar>

                    <ion-label text-capitalize>{{ notify.senderName}}</ion-label>

                    <div item-end class="containerApprove" *ngIf="accountServ.getUserRole().notificationCanApprove && !notify.approved" >
                      <button [id]="'buttonApprove'+i" class="buttonApprove" (click)="approveNotification(i)"></button>
                    </div>

                    <button ion-button outline item-end class="buttonInCard" *ngIf="notify.pending != 'pending'" (click)="openNotificationViewBy(notify)">{{notify.seenCount}} views</button>
                    <ion-badge color="danger" item-end *ngIf="notify.pending == 'pending'">pending</ion-badge>
                  </ion-item>

                </ion-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-content>

    </ion-slide>



    <!--Awaiting Approved-->
    <ion-slide *ngIf="accountServ.getUserRole().notificationApproved">

      <ion-content class="contentScroll">


        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let notify of notificationsApproved; let i = index" col-12 col-sm-12 col-xl-4 col-lg-6 col-md-6>
              <div class="editDivView">
                <ion-card class="scale-up-center">

                  <div class="buttonOnImg">
                    <button ion-button class="closeInDiv" clear icon-only *ngIf="notify.pending != 'pending' && (accountServ.getUserRole().notificationDelete || accountServ.getUserRole().notificationUpdate||accountServ.getUserRole().notificationCreate)" item-end (click)="onSelectCard($event, i,notify)">
                      <ion-icon style="background: #eee0;color: #000000;" name="more" class="buttonShape" ></ion-icon>
                    </button>
                  </div>

                  <ion-slides pager *ngIf="notify.attachmentsList.length>0" >
                    <ion-slide *ngFor="let item of notify.attachmentsList" (click)="onAttachmentClick($event,item.name,item.id,item.type,item.url,notify.pending)">
                      <div style="text-align: -webkit-center;">
                        <img class="imgUrl" justify-content-center [src]="item.url" *ngIf="item.type == 'IMAGE'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' && item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO' && item.type != 'VIDEO'">
                      </div>
                    </ion-slide>
                  </ion-slides>

                  <ion-item text-wrap text-center class="lableInItem" *ngIf="notify.attachmentsList.length>0">{{notify.title}}</ion-item>
                  <ion-item text-wrap class="lableInItem" *ngIf="notify.attachmentsList.length<=0">{{notify.title}}</ion-item>


                  <div style="padding-left: 16px;">
                    <h2 style="color: gray" text-center *ngIf="notify.attachmentsList.length>0">{{notify.body}}</h2>
                    <h2 style="color: gray" text-left *ngIf="notify.attachmentsList.length<=0">{{notify.body}}</h2>
                  </div>

                  <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/imgs/profile.png">
                    </ion-avatar>

                    <ion-label text-capitalize>{{ notify.senderName}}</ion-label>

                    <div item-end class="containerApprove" *ngIf="accountServ.getUserRole().notificationCanApprove && !notify.approved" >
                      <button [id]="'buttonApprove'+i" class="buttonApprove" (click)="approveNotification(i)"></button>
                    </div>

                    <button ion-button outline item-end class="buttonInCard" *ngIf="notify.pending != 'pending'" (click)="openNotificationViewBy(notify)">{{notify.seenCount}} views</button>
                    <ion-badge color="danger" item-end *ngIf="notify.pending == 'pending'">pending</ion-badge>
                  </ion-item>

                </ion-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-content>

    </ion-slide>




    <!--Archive-->
    <ion-slide *ngIf="accountServ.getUserRole().archiveNotificationView">

      <ion-content class="contentScroll">

        <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>


        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let notify of notificationsArchived; let i = index" col-12 col-sm-12 col-xl-4 col-lg-6 col-md-6>
              <div class="editDivView">
                <ion-card class="scale-up-center">

                  <div class="buttonOnImg">
                    <button ion-button class="closeInDiv" clear icon-only *ngIf="notify.pending != 'pending' && (accountServ.getUserRole().notificationDelete || accountServ.getUserRole().notificationUpdate||accountServ.getUserRole().notificationCreate)" item-end (click)="onSelectCard($event, i,notify)">
                      <ion-icon style="background: #eee0;color: #000000;" name="more" class="buttonShape" ></ion-icon>
                    </button>
                  </div>

                  <ion-slides pager *ngIf="notify.attachmentsList.length>0" >
                    <ion-slide *ngFor="let item of notify.attachmentsList" (click)="onAttachmentClick($event,item.name,item.id,item.type,item.url,notify.pending)">
                      <div style="text-align: -webkit-center;">
                        <img class="imgUrl" justify-content-center [src]="item.url" *ngIf="item.type == 'IMAGE'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/pdf_img.png" *ngIf="item.type == 'PDF'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/word_img.png" *ngIf="item.type == 'WORD'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/excel_img.png" *ngIf="item.type == 'EXCEL'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/powerpoint_img.png" *ngIf="item.type == 'POWERPOINT'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/audio_img.png" *ngIf="item.type == 'AUDIO'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/video_img.png" *ngIf="item.type == 'VIDEO'">
                        <img class="imgAttach" justify-content-center src="assets/imgs/doc_img.png" *ngIf="item.type != 'PDF' && item.type != 'IMAGE' && item.type != 'WORD' && item.type != 'EXCEL' && item.type != 'POWERPOINT' && item.type != 'AUDIO' && item.type != 'VIDEO'">
                      </div>
                    </ion-slide>
                  </ion-slides>

                  <ion-item text-wrap text-center class="lableInItem" *ngIf="notify.attachmentsList.length>0">{{notify.title}}</ion-item>
                  <ion-item text-wrap class="lableInItem" *ngIf="notify.attachmentsList.length<=0">{{notify.title}}</ion-item>


                  <div style="padding-left: 16px;">
                    <h2 style="color: gray" text-center *ngIf="notify.attachmentsList.length>0">{{notify.body}}</h2>
                    <h2 style="color: gray" text-left *ngIf="notify.attachmentsList.length<=0">{{notify.body}}</h2>
                  </div>

                  <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/imgs/profile.png">
                    </ion-avatar>

                    <ion-label text-capitalize>{{ notify.senderName}}</ion-label>

                    <div item-end class="containerApprove" *ngIf="accountServ.getUserRole().notificationCanApprove && !notify.approved" >
                      <button [id]="'buttonApprove'+i" class="buttonApprove" (click)="approveNotification(i)"></button>
                    </div>

                    <button ion-button outline item-end class="buttonInCard" *ngIf="notify.pending != 'pending'" (click)="openNotificationViewBy(notify)">{{notify.seenCount}} views</button>
                    <ion-badge color="danger" item-end *ngIf="notify.pending == 'pending'">pending</ion-badge>
                  </ion-item>

                </ion-card>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

      </ion-content>

    </ion-slide>

  </ion-slides>

  <ion-fab bottom right>
    <button ion-fab (click)="onOpenView()" *ngIf="accountServ.getUserRole().notificationCreate"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

