<ion-split-pane [when]="whichPage()" >
  <ion-menu  [content]="content">

    <!--<ion-header>-->
      <!--<ion-toolbar color="primary">-->
        <!--<ion-title>Menu</ion-title>-->
      <!--</ion-toolbar>-->
    <!--</ion-header>-->

    <ion-content style=".content.outer-content {background: #ffffff;}">

      <ion-item-group class="navMenuClass">
        <button id="ProfilePage" ion-item icon-left (click)="onLoad(profilePage);">
          <ion-icon name="person" small></ion-icon>
          Profile
        </button>

        <button id="NotificationPage" ion-item icon-left (click)="onLoad(notificationPage);" *ngIf="appearNotification">
          <ion-icon name="notifications" small></ion-icon>
          Notifications
        </button>

        <button id="FakeNewComment" ion-item icon-left (click)="onLoadReportTemplateWithComments();" >
          <ion-icon name="document" small></ion-icon>
          FakeNewComment
        </button>

        <button id="DailyReportPage" ion-item icon-left (click)="onLoadReport(reportPage, 'Daily Report',-1);" *ngIf="appearDailyReport">
          <ion-icon name="document" small></ion-icon>
          Daily Reports
        </button>

        <button class="collopsible" color="light" *ngIf="appearCustomReport">
          <ion-icon icon-left style="padding-right: 5px" name="ios-copy"></ion-icon>
          Reports
        </button>

        <div class="contont">
          <button ion-item icon-left *ngFor="let itm of customReportList; let i = index" class="item-Select"  (click)="onLoadReport(reportPage, itm.name, itm.id);" [id]="'ReportPage'+itm.id">
            <ion-icon name="document" small></ion-icon>
            {{itm.name}}
          </button>
        </div>

        <button id="ChatPage" ion-item icon-left (click)="onLoad(chatPage);" *ngIf="appearChat">
          <ion-icon name="ios-chatbubbles" small></ion-icon>
          Chat
        </button>

        <button id="MedicalCarePage" ion-item icon-left (click)="onLoad(medicalcarePage);" *ngIf="appearMedicalReport">
          <ion-icon name="heart" small></ion-icon>
          MedicalCare
        </button>

        <!--<ion-item-divider color="light">Tools</ion-item-divider>-->

        <button id="SettingsPage" ion-item icon-left class="toolsItem" (click)="onLoad(settingsPage);">
          <ion-icon name="cog" small></ion-icon>
          Setting
        </button>

        <button id="HomePage" ion-item icon-left class="toolsItem" (click)="onSignOut();">
          <ion-icon name="log-out" small></ion-icon>
          Log-out
        </button>

      </ion-item-group>
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
