<ion-split-pane [when]="whichPage()" >
  <ion-menu  [content]="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-item-group>
        <ion-item-divider color="light">Navigation</ion-item-divider>

        <button ion-item icon-left (click)="onLoad(profilePage)">
          <ion-icon name="person"></ion-icon>
          {{names}}'s Profile
        </button>

        <button ion-item icon-left (click)="onLoad(notificationPage)" *ngIf="appearNotification">
          <ion-icon name="notifications"></ion-icon>
          Notification
        </button>

        <button ion-item icon-left (click)="onLoad(reportPage)" *ngIf="appearDailyReport">
          <ion-icon name="document"></ion-icon>
          Daily Reports
        </button>


        <ion-item-divider color="light">Tools</ion-item-divider>

        <button ion-item icon-left (click)="onLoad(settingsPage)" text-center>
          <ion-icon name="cog"></ion-icon>
          Setting
        </button>

        <button ion-item icon-left (click)="onSignOut()" text-center>
          <ion-icon name="log-out"></ion-icon>
          Log-out
        </button>

      </ion-item-group>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
