<ion-header mode="ios">
  <ion-toolbar mode="ios" class="container border-remove">
    <ion-buttons slot="start">
      <ion-menu-button class="icon-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container" scrollX="false" scrollY="false">

    <div style="margin-top: 20px;margin-bottom: 15px;">
        <div style="margin-left: calc(50% - 109px); width: 218px; background: #E4E4E4; border-radius: 100px;">
            <ion-segment mode="ios" [(ngModel)]="selectedTab" class="segmentRaduis" color="#55A9FF" style="max-width: 218px; height: 40px; color: black; transition: all" (ionChange)="segmentChanged($event)">
                <ion-segment-button mode="ios" class="segmentRaduis" [value]="TODAY_TAB" *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear">
                    <ion-label>TODAY</ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="segmentRaduis" [value]="WEEKLY_TAB">
                    <ion-label>WEEKLY</ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="segmentRaduis" [value]="MONTHLY_TAB">
                    <ion-label>MONTHLY</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>


    <ion-content class="container" style="overflow: hidden;height: calc(100% - 74px);">

                                    <!--ONE TEACHER LIST-->

                                   <!--ONE TEACHER WEEKLY TAB-->


        <div  style="height: 100%;overflow: hidden;" class="container" *ngIf="!this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == WEEKLY_TAB">


            <ion-list class="resizeContentList" [ngClass]="checkContent()?'resizeContentNoList':'resizeContentList'" >
                <ion-item class="itemEdit" *ngFor="let user of weeklyAttend">
                    <div class="dateOneDiv">
                        <label class="todayNum">{{getDay(user.checkInDate)}}</label>
                        <label class="todayMonth">{{getMonth(user.checkInDate)}}</label>
                    </div>
                    <div class="infoOneDiv" [ngClass]="getColor(user)">
                        <avatar class="imgOneProfileAvatar" [name]="user.name" [size]="45" *ngIf="!user.profileImg"></avatar>
                        <img class="imgOneProfile" [src]="user.profileImg" *ngIf="user.profileImg"/>
                        <div class="partTwoOne">
                            <div class="topPart">
                                <label class="fristName">{{getFristName(user.name)}}</label>
                                <label class="comeInOne">{{getTime(user.checkInDate)}}</label>
                            </div>
                            <div class="downPart">
                                <label class="lastName">{{getlastName(user.name)}}</label>
                                <label class="goOutOne">{{getTime(user.checkOutDate)}}</label>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <ion-list style="background: #faebd700;width: 100%;bottom: 75px;z-index: 1;">
                <ion-item class="itemEdit" (click)="checkInNow()" *ngIf="checkInCondition()">
                    <div class="infoOneDivOnce">
                        <!--<img class="imgOneProfile" src="assets/imgs/profile.png" />-->
                        <avatar [name]="accountServ.user.name" *ngIf="!accountServ.user.profileImg"></avatar>
                        <img class="imgOneProfile" [src]="accountServ.user.profileImg" *ngIf="accountServ.user.profileImg"/>
                        <div class="partTwoCheckin">
                            <label class="checkInDiv">Check In</label>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="itemEdit" (click)="checkOutNow()"  *ngIf="checkOutCondition()">
                    <div class="infoOneDivRedOnce">
                        <!--<img class="imgOneProfile" src="assets/imgs/profile.png" *ngIf="!accountServ.user.profileImg"/>-->
                        <avatar [name]="accountServ.user.name" *ngIf="!accountServ.user.profileImg"></avatar>
                        <img class="imgOneProfile" [src]="accountServ.user.profileImg" *ngIf="accountServ.user.profileImg"/>
                        <div class="partTwoCheckin">
                            <label class="checkInDiv">Check Out</label>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">-->
                <!--<ion-infinite-scroll-content-->
                        <!--loadingSpinner="bubbles"-->
                        <!--loadingText="Loading more data...">-->
                <!--</ion-infinite-scroll-content>-->
            <!--</ion-infinite-scroll>-->
        </div>

                                  <!--ONE TEACHER MONTHLY TAB-->

        <div *ngIf="!this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == MONTHLY_TAB">

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit" *ngFor="let user of monthlyAttend">
                    <ion-card style="width: 100%;padding: 10px;" [ngClass]="user.panlties>5?'redColor':'greenColor'">
                        <div>
                            <avatar class="monthlyEditAvatar" [name]="user.name" [displayType]="'rounded'" [size]="30" *ngIf="!user.profileImg"></avatar>
                            <img class="imgMonthlyProfile" [src]="user.profileImg" *ngIf="user.profileImg"/>
                            <div class="teacherName">
                                <label class="teacherNameLabel">{{user.name}}</label>
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <!--<div class="dateMonthlyDiv" col-3>-->
                            <!--<label class="monthlyNum">01</label>-->
                            <!--<label class="monthlyTitle">Absent</label>-->
                            <!--</div>-->
                            <div class="dateMonthlyDiv" col-6>
                                <label class="monthlyNum">{{user.Late}}</label>
                                <label class="monthlyTitle">Late</label>
                            </div>
                            <div class="dateMonthlyDiv" col-6>
                                <label class="monthlyNum">{{user.Attend}}</label>
                                <label class="monthlyTitle">Attend</label>
                            </div>
                            <!--                            <div class="dateMonthlyDiv" col-3>-->
                            <!--                                <label class="todayNum">24</label>-->
                            <!--                                <label class="todayMonth">Mars</label>-->
                            <!--                            </div>-->
                        </div>
                    </ion-card>
                </ion-item>
            </ion-list>

        </div>















                                       <!--MULTI TEACHERS LIST-->

                                      <!--ONE TEACHER TODAY TAB-->

        <div style="height: 100%;overflow: hidden;" *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == TODAY_TAB">
            <ion-list class="resizeContentList" [ngClass]="checkContent()?'resizeContentNoList':'resizeContentList'" >
                <ion-item class="itemEdit" *ngFor="let user of todayAttend">
                    <div class="infoOneDiv" [ngClass]="getColorDay(user)">
                        <!--<img class="imgOneProfile" src="assets/imgs/profile.png"/>-->
                        <avatar class="imgOneProfileAvatar" [name]="user.name" [size]="45" *ngIf="!user.profileImg"></avatar>
                        <img class="imgOneProfile" [src]="user.profileImg" *ngIf="user.profileImg"/>
                        <div class="partTwoOne">
                            <div class="topPart">
                                <label class="fristName">{{getFristName(user.name)}}</label>
                                <label class="comeInOne">{{getTime(user.checkin_DATE)}}</label>
                            </div>
                            <div class="downPart">
                                <label class="lastName">{{getlastName(user.name)}}</label>
                                <label class="goOutOne">{{getTime(user.checkout_DATE)}}</label>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <ion-list style="background: #faebd700;width: 100%;bottom: 75px;z-index: 1;">
                <ion-item class="itemEdit" (click)="checkInNow()" *ngIf="checkInCondition()">
                    <div class="infoOneDiv">
                        <!--<img class="imgOneProfile" src="assets/imgs/profile.png" />-->
                        <avatar class="imgOneProfileAvatar" [name]="accountServ.user.name" [size]="45" *ngIf="!accountServ.user.profileImg"></avatar>
                        <img class="imgOneProfile" [src]="accountServ.user.profileImg" *ngIf="accountServ.user.profileImg"/>
                        <div class="partTwoCheckin">
                            <label class="checkInDiv">Check In</label>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="itemEdit" (click)="checkOutNow()"  *ngIf="checkOutCondition()">
                    <div class="infoOneDivRed">
                        <!--<img class="imgOneProfile" src="assets/imgs/profile.png" *ngIf="!accountServ.user.profileImg"/>-->
                        <avatar class="imgOneProfileAvatar" [name]="accountServ.user.name" [size]="45" *ngIf="!accountServ.user.profileImg"></avatar>
                        <img class="imgOneProfile" [src]="accountServ.user.profileImg" *ngIf="accountServ.user.profileImg"/>
                        <div class="partTwoCheckin">
                            <label class="checkInDiv">Check Out</label>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

                                       <!--ONE TEACHER WEEKLY TAB-->

        <ion-content class="container" *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == WEEKLY_TAB">

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit" *ngFor="let user of weeklyAttend">
                    <ion-list-header style="text-align: center" class="editListHeader" *ngIf="!user.isUser">
                        <ion-label><strong>{{setDateFormat(user.header)}}</strong></ion-label>
                    </ion-list-header>
                    <div class="infoOneDiv" [ngClass]="getColor(user)" *ngIf="user.isUser">
                        <avatar class="imgOneProfileAvatar" [name]="user.name" [size]="45" *ngIf="!user.profileImg"></avatar>
                        <img class="imgOneProfile" [src]="user.profileImg" *ngIf="user.profileImg"/>
                        <div class="partTwoOne">
                            <div class="topPart">
                                <label class="fristName">{{getFristName(user.name)}}</label>
                                <label class="comeInOne">{{getTime(user.checkInDate)}}</label>
                            </div>
                            <div class="downPart">
                                <label class="lastName">{{getlastName(user.name)}}</label>
                                <label class="goOutOne">{{getTime(user.checkOutDate)}}</label>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                <ion-infinite-scroll-content
                        loadingSpinner="bubbles"
                        loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-content>


                                       <!--ONE TEACHER MONTHLY TAB-->

        <div *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == MONTHLY_TAB">

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit" *ngFor="let user of monthlyAttend">
                    <ion-card style="width: 100%;padding: 10px;" [ngClass]="getColorMonth(user)">
                        <div>
                            <!--<img class="imgMonthlyProfile" src="assets/imgs/profile.png" *ngIf="!user.profileImg"/>-->
                            <avatar class="monthlyEditAvatar" [name]="user.name" [displayType]="'rounded'" [size]="30" *ngIf="!user.profileImg"></avatar>
                            <img class="imgMonthlyProfile" [src]="user.profileImg" *ngIf="user.profileImg"/>
                            <div class="teacherName">
                                <label class="teacherNameLabel">{{user.name}}</label>
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <!--<div class="dateMonthlyDiv" col-3>-->
                                <!--<label class="monthlyNum">01</label>-->
                                <!--<label class="monthlyTitle">Absent</label>-->
                            <!--</div>-->
                            <div class="dateMonthlyDiv" col-6>
                                <label class="monthlyNum">{{user.Late}}</label>
                                <label class="monthlyTitle">Late</label>
                            </div>
                            <div class="dateMonthlyDiv" col-6>
                                <label class="monthlyNum">{{user.Attend}}</label>
                                <label class="monthlyTitle">Attend</label>
                            </div>
                            <!--                            <div class="dateMonthlyDiv" col-3>-->
                            <!--                                <label class="todayNum">24</label>-->
                            <!--                                <label class="todayMonth">Mars</label>-->
                            <!--                            </div>-->
                        </div>
                    </ion-card>
                </ion-item>
            </ion-list>

        </div>

    </ion-content>
    

</ion-content>
