<ion-header mode="ios">
  <ion-toolbar mode="ios" class="container border-remove">
    <ion-buttons slot="start">
      <ion-menu-button class="icon-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container" scrollX="false" scrollY="false">

    <div style="margin-top: 20px;margin-bottom: 15px;">
        <div style="margin-left: calc(50% - 109px); width: 218px; background: #E4E4E4; border-radius: 100px;">
            <ion-segment mode="ios" [(ngModel)]="selectedTab" class="segmentRaduis" color="#55A9FF" style="max-width: 218px; height: 40px; color: black; transition: all" (ionChange)="segmentChanged($event)">
                <ion-segment-button mode="ios" class="segmentRaduis" [value]="TODAY_TAB" *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear">
                    <ion-label>TODAY</ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="segmentRaduis" [value]="WEEKLY_TAB">
                    <ion-label>WEEKLY</ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="segmentRaduis" [value]="MONTHLY_TAB">
                    <ion-label>MONTHLY</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>


    <ion-content class="container">

                                    <!--ONE TEACHER LIST-->

                                   <!--ONE TEACHER WEEKLY TAB-->


        <div *ngIf="!this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == WEEKLY_TAB">
            <ion-list style="background: #faebd700;position: absolute;width: 100%;bottom: 75px;z-index: 1;">
                <ion-item class="itemEdit" (click)="checkInNow()">
                    <div class="infoOneDiv">
                        <img class="imgOneProfile" src="assets/imgs/profile.png"/>
                        <div class="partTwoCheckin" *ngIf="activeCheckInOneTeacherButton()">
                            <label class="checkInDiv">Check In</label>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit">
                    <div class="dateOneDiv">
                        <label class="todayNum">24</label>
                        <label class="todayMonth">Mars</label>
                    </div>
                    <div class="infoOneDiv">
                        <img class="imgOneProfile" src="assets/imgs/profile.png"/>
                        <div class="partTwoOne">
                            <div class="topPart">
                                <label class="fristName">fristName</label>
                                <label class="comeInOne">Absent</label>
                            </div>
                            <div class="downPart">
                                <label class="lastName">lastName</label>
                                <label class="goOutOne">00:00</label>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

                                  <!--ONE TEACHER MONTHLY TAB-->

        <div *ngIf="!this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == MONTHLY_TAB">

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit" *ngFor="let user of monthlyAttend">
                    <ion-card style="width: 100%;padding: 10px;" [ngClass]="user.panlties>5?'redColor':'greenColor'">
                        <div>
                            <img class="imgMonthlyProfile" src="assets/imgs/profile.png" *ngIf="!user.user.profileImg"/>
                            <img class="imgMonthlyProfile" [src]="user.user.profileImg" *ngIf="user.user.profileImg"/>
                            <div class="teacherName">
                                <label class="teacherNameLabel">{{user.user.name}}</label>
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <!--<div class="dateMonthlyDiv" col-3>-->
                            <!--<label class="monthlyNum">01</label>-->
                            <!--<label class="monthlyTitle">Absent</label>-->
                            <!--</div>-->
                            <div class="dateMonthlyDiv" col-3>
                                <label class="monthlyNum">{{user.panlties}}</label>
                                <label class="monthlyTitle">Late</label>
                            </div>
                            <div class="dateMonthlyDiv" col-3>
                                <label class="monthlyNum">{{user.Attend}}</label>
                                <label class="monthlyTitle">Attend</label>
                            </div>
                            <!--                            <div class="dateMonthlyDiv" col-3>-->
                            <!--                                <label class="todayNum">24</label>-->
                            <!--                                <label class="todayMonth">Mars</label>-->
                            <!--                            </div>-->
                        </div>
                    </ion-card>
                </ion-item>
            </ion-list>

        </div>

                                       <!--MULTI TEACHERS LIST-->

                                      <!--ONE TEACHER TODAY TAB-->

        <div *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == TODAY_TAB">
            <ion-list style="background: #faebd700;position: absolute;width: 100%;bottom: 75px;z-index: 1;">
                <ion-item class="itemEdit" (click)="checkInNow()">
                    <div class="infoOneDiv">
                        <img class="imgOneProfile" src="assets/imgs/profile.png"/>
                        <div class="partTwoCheckin" *ngIf="activeCheckInOneTeacherButton()">
                            <label class="checkInDiv">Check In</label>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit">
                    <div class="infoOneDiv">
                        <img class="imgOneProfile" src="assets/imgs/profile.png"/>
                        <div class="partTwoOne">
                            <div class="topPart">
                                <label class="fristName">fristName</label>
                                <label class="comeInOne">Absent</label>
                            </div>
                            <div class="downPart">
                                <label class="lastName">lastName</label>
                                <label class="goOutOne">00:00</label>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

                                       <!--ONE TEACHER WEEKLY TAB-->

        <div *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == WEEKLY_TAB">

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit">
                    <div class="infoOneDiv">
                        <img class="imgOneProfile" src="assets/imgs/profile.png"/>
                        <div class="partTwoOne">
                            <div class="topPart">
                                <label class="fristName">fristName</label>
                                <label class="comeInOne">Absent</label>
                            </div>
                            <div class="downPart">
                                <label class="lastName">lastName</label>
                                <label class="goOutOne">00:00</label>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>

        </div>


                                       <!--ONE TEACHER MONTHLY TAB-->

        <div *ngIf="this.accountServ.getUserRole().attendanceAllTeachersAppear && selectedTab == MONTHLY_TAB">

            <ion-list style="background: #faebd700;">
                <ion-item class="itemEdit" *ngFor="let user of monthlyAttend">
                    <ion-card style="width: 100%;padding: 10px;" [ngClass]="user.panlties>5?'redColor':'greenColor'">
                        <div>
                            <img class="imgMonthlyProfile" src="assets/imgs/profile.png" *ngIf="!user.user.profileImg"/>
                            <img class="imgMonthlyProfile" [src]="user.user.profileImg" *ngIf="user.user.profileImg"/>
                            <div class="teacherName">
                                <label class="teacherNameLabel">{{user.user.name}}</label>
                            </div>
                        </div>
                        <div style="margin-top: 15px;">
                            <!--<div class="dateMonthlyDiv" col-3>-->
                                <!--<label class="monthlyNum">01</label>-->
                                <!--<label class="monthlyTitle">Absent</label>-->
                            <!--</div>-->
                            <div class="dateMonthlyDiv" col-6>
                                <label class="monthlyNum">{{user.panlties}}</label>
                                <label class="monthlyTitle">Late</label>
                            </div>
                            <div class="dateMonthlyDiv" col-6>
                                <label class="monthlyNum">{{user.Attend}}</label>
                                <label class="monthlyTitle">Attend</label>
                            </div>
                            <!--                            <div class="dateMonthlyDiv" col-3>-->
                            <!--                                <label class="todayNum">24</label>-->
                            <!--                                <label class="todayMonth">Mars</label>-->
                            <!--                            </div>-->
                        </div>
                    </ion-card>
                </ion-item>
            </ion-list>

        </div>

    </ion-content>
    

</ion-content>
