<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Online Ordering</ion-title>
  </ion-toolbar>


  <ion-toolbar class="toolBarShap" color="gray" scrollable="true">
    <ion-segment [(ngModel)]="selectedTab" color="primary"
      style="--padding-top: 5px;--padding-right: 5px;--padding-left: 5px" scrollable="true">
      <ion-segment-button *ngFor="let category of categories; let i= index" [checked]="i==0"
        (ionSelect)="segmentChanged(i)">
        <ion-label>{{category.name}}</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of selectedCategory.products">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-label style="text-transform: capitalize;">{{product.name}}</ion-label>
            <ion-button shape="round" fill="outline" 
            style="--border-width: thin; margin: 8px 0px;">EGP {{product.price}}
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-img *ngIf="product.productImg" [src]="product.productImg" style="max-width: 100px;
                            padding: 4px;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>