<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Online Ordering</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar mode="ios" (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)"
      (ionBlur)="onSearchBlur($event)" showCancelButton="focus" animated debounce="500">
    </ion-searchbar>
  </ion-toolbar>


  <ion-toolbar class="toolBarShap" color="gray" scrollable="true" *ngIf="!isSearching && categories">
    <ion-segment color="primary" style="--padding-top: 5px;--padding-right: 5px;--padding-left: 5px" scrollable="true"
      (ionChange)="segmentChanged($event)" [(ngModel)]="selectedCategoryIndex">
      <ion-segment-button style="min-width: auto;" *ngFor="let category of categories; let i= index" [value]="i">
        <ion-label style="width: fit-content;">{{category.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list *ngIf="selectedCategoryProducts">
    <ion-item *ngFor="let product of selectedCategoryProducts; let i =index"
      [class.last-item]="i == selectedCategoryProducts.length-1" (click)="addItem(product)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label style="text-transform: capitalize;" class="ion-text-wrap">{{product.name}}</ion-label>
            <ion-button shape="round" fill="outline" style="--border-width: thin; margin: 8px 0px;"
              >EGP {{product.hasIngredient?product.price: product.productInfoHistorySet[product.productInfoHistorySet.length -1].price}}
            </ion-button>
          </ion-col>
          <ion-col style="
    justify-content: end;
    display: inherit;">
            <ion-img *ngIf="product.productImg" [src]="product.productImg" style="width: 80px;
                            padding: 4px;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer *ngIf="cart != null && cart.size > 0">
  <ion-grid class="bottom-drawer-docked-grid">
    <ion-row>
      <ion-col size="1">
        <p style="text-align: center; margin: 8px;">{{count}}</p>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" fill="clear" style="--color: white;" (click)="openCart()">SEE CART</ion-button>
      </ion-col>
      <ion-col>
        <p style="text-align: end; margin: 8px;">Total <strong>EGP {{total}}</strong></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>