<ion-header>
  <ion-toolbar color="primary">
    <ion-title>View Medication</ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="mainDivQuestion">
    <ion-card class="questionCard">
      <div class="questionTitle">

        <ion-card-header class="ion-text-wrap" class="formLabel">
          Medicine
        </ion-card-header>

        <ion-card-content class="questionBody">

          <div class="LoopContainWithFullWidth">
            <div class="medicienCellFullWidth">
              <div class="medicineLable">
                {{medication.medicine.name}}
              </div>
            </div>
          </div>

        </ion-card-content>

      </div>
    </ion-card>
  </div>


  <div class="mainDivQuestion">
    <ion-card class="questionCard">
      <div class="questionTitle">

        <ion-card-header class="ion-text-wrap" class="formLabel">
          {{dosageWord}}
        </ion-card-header>

        <ion-card-content class="questionBody">

          <div class="LoopContainWithFullWidth">
            <div class="medicienCellFullWidth">
              <div class="medicineLable">
                {{medication.dosageNumber +' - '+medication.dosageType.type}}
              </div>
            </div>
          </div>

        </ion-card-content>

      </div>
    </ion-card>
  </div>


  <div class="mainDivQuestion">
    <ion-card class="questionCard">
      <div class="questionTitle">

        <ion-card-header class="ion-text-wrap" class="formLabel">
          Start from
        </ion-card-header>

        <ion-card-content class="questionBody">

          <div class="LoopContainWithFullWidth">
            <div class="medicienCellFullWidth">
              <div class="medicineLable">
                {{medication.startDate.slice(0,-6)}}
              </div>
            </div>
          </div>

        </ion-card-content>

      </div>
    </ion-card>
  </div>


  <div class="mainDivQuestion" *ngIf="medication.endDate">
    <ion-card class="questionCard">
      <div class="questionTitle">

        <ion-card-header class="ion-text-wrap" class="formLabel">
          End at
        </ion-card-header>

        <ion-card-content class="questionBody">

          <div class="LoopContainWithFullWidth">
            <div class="medicienCellFullWidth">
              <div class="medicineLable">
                {{medication.endDate.slice(0,-6)}}
              </div>
            </div>
          </div>

        </ion-card-content>

      </div>
    </ion-card>
  </div>


  <div class="mainDivQuestion">
    <ion-card class="questionCard">
      <div class="questionTitle">

        <ion-card-header class="ion-text-wrap" class="formLabel">
          Days
        </ion-card-header>

        <ion-card-content class="questionBody">

          <div class="LoopContainFitContent" *ngFor="let Item of daysOfDosage">
            <div class="medicienCell">
              <div class="medicineLable">
                {{Item}}
              </div>
            </div>
          </div>

        </ion-card-content>

      </div>
    </ion-card>
  </div>


  <div class="mainDivQuestion">
    <ion-card class="questionCard">
      <div class="questionTitle">

        <ion-card-header class="ion-text-wrap" class="formLabel">
          {{timesWords}}
        </ion-card-header>

        <ion-card-content class="questionBody">

          <div class="LoopContainFitContent" *ngFor="let Item of medication.medicationSchedule">
            <div class="medicienCell">
              <div class="medicineLable">
                {{Item.time.slice(0,-3)}}
              </div>
            </div>
          </div>

        </ion-card-content>

      </div>
    </ion-card>
  </div>


  <div class="mainDivQuestion">
    <ion-card class="questionCard">
      <div class="questionTitle">

        <ion-card-header class="ion-text-wrap" class="formLabel">
          Medication Instructions
        </ion-card-header>

        <ion-card-content class="questionBody">

          <div class="LoopContainFitContent" *ngFor="let Item of medication.instructions">
            <div class="medicienCell">
              <div class="medicineLable">
                {{Item.name}}
              </div>
            </div>
          </div>

        </ion-card-content>

      </div>
    </ion-card>
  </div>

</ion-content>