@import "~@ng-select/ng-select/themes/default.theme.css";

ion-img{
  background: #eee0;
}

button{
  background: #eee0;
}

[_nghost-c1] {
  border-radius: 40px;
  font-size: 14px;
  color: #fff;
}
[_nghost-c1] .ng2-tag-input-remove[_ngcontent-c1] {
  background: #fff;
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.swiper-container {
  border-radius: 15px;
}

rl-tag-input{
  border-color: #dedede;
  border: 0px;
  border-bottom: 1px;
  border-style: inset;
}

[_nghost-c0] .ng2-tag-input-field[_ngcontent-c0]{
  padding : 0;
  border-bottom-width: 10px;
}

//ion-input{
//  border-color: lightgray;
//  border-top: 0px;
//  border-left: 0px;
//  border-right: 0px;
//  border-bottom: 1px;
//  border-style: solid;
//}
//ion-textarea{
//  border-color: lightgray;
//  border-top: 0px;
//  border-left: 0px;
//  border-right: 0px;
//  border-bottom: 1px;
//  border-style: solid;
//}

rl-autocomplete-header {
  background: #bfbfbfbf;
}

.fileContainer {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.floatTopLeft{
  position: absolute;
  top: 10px;
  right: 10px;
}




.container {
  width: 100%;
  min-height: 210px;
  position: relative;
  text-align: -webkit-center;
}
.container img {
  height: 210px;
}

.container .buttonOnImg {
  position: absolute;
  top: -50px;
  right: -50px;
  padding: 0;
  margin: 0;
  height: 100px;
  width: 100px;
  //transform: rotate(20deg);
  background: #ffffff;
  border-radius: 50%;
}

.item{
  padding-left: 0px;
}
.text-input{
  margin-left: 0px;
  margin-right: 0px;
}
.container .imgAttachPost{
  width: 200px;
  height: 200px;
  left: 18%;
  //position: absolute;
  background: #eee0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  background-color: #cbcbcb;
  text-align: center;
}

////////////////////////////////////
.cardClass{
  border-radius: 15px;
  --background: white ;
}

.slide-zoom {
  height: fit-content;
  padding: 0;
}

ion-slides {
  padding: 0;
  height: fit-content;
}

.slideCard{
  //background-color: #E5E5E5;
}
.swiper-slide, .swiper-wrapper {
  width: 100%;
  padding: 0;
}

.imgUrl{
  height: 200px;
  //width: 100%;
  background: #eee0;
  margin-bottom: 35px;
}

.imgAttach{
  height: 200px;
  background: #eee0;
  margin-bottom: 35px;
}

.editInput{
  max-width: 100%;
  height: auto;
  font-size: 2.4rem;
}

.editDescribtion{
  max-width: 100%;
  height: fit-content;
}

.text-input-ios{
  margin: 0 0 16px 0;
}
.text-input-md{
  margin: 0 0 8px 0;
}
.mat-form-field {
  padding: 8px;
  width: 100%;
}
.buttonEditCancel{
  border-radius: 8px;
  max-width: 47%;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 3px;
  margin-left: 3px;
}

.buttonsRow{
  padding-right: 8px;
  padding-left: 8px;
}

.fitTheView{
  padding-left: 8px;
  padding-right: 8px;
  background-color: #F4F4F4F4;
}

.closeInDiv{
  -webkit-filter: invert(0.8);
  filter: invert(0.8);
  width: 20px;
  left: 20px;
  bottom: 20px;
  position: absolute;
}
