<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding-left: 30px; padding-right: 30px;">
    <ion-row>
      <ion-col style="margin-top: 16px; margin-bottom: 16px;">
        <ion-item style="position: relative;">
          <ion-label color="primary" 
            position="stacked">
            Current Password
          </ion-label>
          <ion-input size="10" type="{{ !passOn ? 'password' : 'text' }}" id="currentPassword"
          name="password" [(ngModel)]="currentPassword" 
          (focusout)="checkPassword(currentPassword, currentPasswordValidityResult)" 
          required></ion-input>
          <ion-button fill="clear" type="button" (click)="showPassword('CURRENT')"
            style="position: absolute;left: 80%;top: 30%;z-index: 10;">
            <ion-icon name="eye-off" style="font-size:1.2rem;" *ngIf="!passOn"></ion-icon>
            <ion-icon name="eye" style="font-size: 1.2rem;" *ngIf="passOn"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top: 16px; margin-bottom: 16px;">
        <ion-item style="position: relative;">
          <ion-label color="primary" 
            position="stacked">
            New Password
          </ion-label>
          <ion-input size="10" type="{{ !newPassOn ? 'password' : 'text' }}" id="newPassword"
          name="password" minlength="8" [(ngModel)]="newPassword" 
          (focusout)="checkPassword(newPassword, newPasswordValidityResult)" 
          required></ion-input>
          <ion-button fill="clear" type="button" (click)="showPassword('NEW')"
            style="position: absolute;left: 80%;top: 30%;z-index: 10;">
            <ion-icon name="eye-off" style="font-size:1.2rem;" *ngIf="!newPassOn"></ion-icon>
            <ion-icon name="eye" style="font-size: 1.2rem;" *ngIf="newPassOn"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="error-element"
        *ngIf="newPasswordValidityResult==YOUR_lAST_USAGE_DID_NOT_EXCEEED_2_MONTH">
        You used this password before within the last 2 months
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top: 16px; margin-bottom: 16px;">
        <ion-item style="position: relative;">
          <ion-label color="primary" 
            position="stacked">
            Confirm Password
          </ion-label>
          <ion-input size="10" minlength="8" type="{{ !newPassConfOn ? 'password' : 'text' }}" id="newPasswordConfirm"
          name="password" [(ngModel)]="newPasswordConfirm" 
          (focusout)="matchNewPasswords()" 
          required></ion-input>
          <ion-button fill="clear" type="button" (click)="showPassword('CONFIRM')"
            style="position: absolute;left: 80%;top: 30%;z-index: 10;">
            <ion-icon name="eye-off" style="font-size: 1.2rem;" *ngIf="!newPassConfOn"></ion-icon>
            <ion-icon name="eye" style="font-size: 1.2rem;" *ngIf="newPassConfOn"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="error-element"
        *ngIf="newPasswordConfirmMatchResult!=''">
        {{newPasswordConfirmMatchResult}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="display: flex; justify-content: center;">
        <ion-button (click)="changePassword()" [disabled]="errorIndicator"> Change </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
