/deep/ app-popover-notification-card{

  /deep/ ion-popover {
  width: 110px;
  height: fit-content;
}

  /deep/ .popover-content{
  width: 110px;
  height: fit-content;
}

  /deep/ .popover-md .popover-content{
  width: 110px;
  height: fit-content;
}

  /deep/ ion-list{
  width: 150px;
  //height: 120px;
  height: fit-content;
}

}
