ion-popover {
  width: 110px;
  height: fit-content;
}

.popover-content{
  width: 110px;
  height: fit-content;
}

.popover-md .popover-content{
  width: 110px;
  height: fit-content;
}

ion-list{
  width: 150px;
  //height: 120px;
  height: fit-content;
}

