<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center (click)="showNames()">{{PageName}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="oonClickonMenuCalender()">
        <ion-icon name="md-calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="contentColor">

  <ion-card style="border-radius: 15px">
    <div justify-content-center text-center class="dateTopCenterBoldGray">
      <b>{{reportDate}}</b>
    </div>
  </ion-card>
  <ion-card style="border-radius: 10px; padding-bottom: 10px"  *ngIf="accountServ.reportId == -1">
    <div style="padding-bottom: 0;padding-right: 10px;padding-left: 10px;padding-top: 10px" *ngFor="let itm of drQuestion; let drIndex = index">


      <!--Type "TEXT_QUESTION"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'TEXT_QUESTION'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <label class="textarea">
    <textarea rows="3" class="custom-scroll" style="width: 100%" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer">
    </textarea>
        </label>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER"-->
      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER' ||
                  itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>
        <div class="inline-group">
          <div *ngFor="let parameter of itm.parametersList" class="LopContain" >
            <label >
              <input class="checkbox" type="checkbox"  [name]="'checkbox'+itm.questionNumber" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[parameter.id]">
              <i></i>
              {{parameter.value}}
            </label>
          </div>
        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_EN"-->
      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_AR"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_EN' ||
                  itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_AR'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div *ngFor="let param of itm.parametersList; let i = index" style="display: block;width: 100%">

          <div *ngIf="param.key == 'OPTION_ANSWER'" >
            <div class="inline-group">
              <label  col-md-9 col-sm-9 col-xs-9>
                <input class="checkbox" type="checkbox" [name]="'checkbox'+itm.questionNumber" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[itm.parametersList[i].id]">
                <i></i>
                <input type="number" required [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[(itm.parametersList[i].id)+1]" style="width:50px;height: 25px;left: 0px;position: relative;margin-left: 10px;margin-right: 10px;padding-bottom: 4px;top: -5px;" [disabled]="!reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[itm.parametersList[i].id]">
                {{itm.parametersList[i].value}}
              </label>
            </div>
          </div>

        </div>

      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER_WITH_EDIT"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER_WITH_EDIT'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>
        <div class="inline-group">

          <div *ngFor="let pram of itm.parametersList;let i = index" class="LopContain">
            <div *ngIf="pram.key == 'OPTION_ANSWER'">

              <label >
                <input class="checkbox" type="checkbox" [name]="'checkbox' + itm.questionNumber" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[i]">
                <i></i>
                {{itm.parametersList[i].value}}
              </label>

            </div>
          </div>

        </div>

        <div style=" clear: both;">
          <div *ngFor="let pram of itm.parametersList;let i = index" >
            <div *ngIf="pram.key != 'OPTION_ANSWER'">

              <label>
                {{itm.parametersList[i].value}}
              </label>
              <label class="textarea">
                <textarea rows="3" cols="50" class="custom-scroll" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[i]"></textarea>
              </label>
            </div>
          </div>
        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_EDIT"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_EDIT'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="row">
          <div class="col col-12 inline-group">
            <div *ngFor="let pram of itm.parametersList; let i = index" class="LopContain">
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER'">

                <label style="display: inline-block">
                  <input class="radio" type="radio" [name]="'radio-inline'+itm.questionNumber" [value]="itm.parametersList[i].value"
                         (change)="enableOther(itm.questionNumber,i)" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[0]">
                  <i></i>
                    {{pram.value}}
                </label>


              </div>
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER_WITH_EDIT'">

                <div style="display: inline-block">
                  <label >
                    <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="itm.parametersList[i].value"
                           (change)="enableOther(itm.questionNumber + ',' + i)" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[0]">
                    <i></i>
                        {{pram.value}}
                  </label>
                  <label class="textarea">
                    <textarea rows="1" style="width:100%" class="custom-scroll" [disabled]="enableOtherNote[itm.questionNumber]"
                              ng-init="enableOtherNote[' + drQuestion.questionNumber + ']=' + true + '" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[1]">
                    </textarea>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div *ngFor="let pram of itm.parametersList" class="LopContain">
          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Food'" style="display: inline-block">
            <ion-row>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber ].answer">
              <img [src]="'assets/food/'+pram.value+'.png'" class="imgOfRadio">
            </ion-row>
          </div>

          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Mood'"style="display: inline-block">
            <ion-row>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber ].answer">
              <img [src]="'assets/mood/'+pram.value+'.png'" class="imgOfRadio">
            </ion-row>
          </div>

          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Milk'"style="display: inline-block">
            <ion-row>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber ].answer">
              <img [src]="'assets/milk/'+pram.value+'.png'" class="imgOfRadio">
            </ion-row>
          </div>

          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Label'">
            <label>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber ].answer">
              <i></i>
              {{pram.value}}
            </label>
          </div>

        </div>

      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_TEXT_QUESTION"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_TEXT_QUESTION'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="">
          <div class="inline-group">

            <div *ngFor="let pram of itm.parametersList; let i = index" class="LopContain">
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER'">
                <label >
                  <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[0]">
                  <i></i>
                  {{pram.value}}
                </label>
              </div>
            </div>

          </div>
        </div>
        <div style=" clear: both;" >

          <div *ngFor="let pram of itm.parametersList; let i = index">
            <div *ngIf="itm.parametersList[i].key != 'OPTION_ANSWER'">
              <label>
                {{pram.value}}
              </label>
              <label class="textarea">
                <textarea rows="2" cols="50" class="custom-scroll" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[1]">
                </textarea>
              </label>
            </div>
          </div>

        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTISELECT_ANSWER_WITH_TEXT_QUESTION"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTISELECT_ANSWER_WITH_TEXT_QUESTION'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="row">
          <div class="col col-12">

            <div *ngFor="let pram of itm.parametersList; let i = index" class="LopContain">
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER'">
                <label >
                  <input class="checkbox" type="checkbox" [name]="'checkbox' + itm.questionNumber+i"
                         ng-change="disableNote(reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[0],itm.questionNumber)"
                         [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[0]">
                  <i></i>
                  {{itm.parametersList[i].value}}
                </label>
              </div>
            </div>

          </div>
        </div>
        <div>

          <div *ngFor="let pram of itm.parametersList; let i = index">
            <div *ngIf="itm.parametersList[i].key != 'OPTION_ANSWER'">
              <label>
                {{itm.parametersList[i].value}}
              </label>
              <label class="textarea">
                <textarea  [disabled]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[0]"
                           rows="3" class="custom-scroll"
                           [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[1]">
                </textarea>
              </label>
            </div>

          </div>
        </div>

      </div>


      <!--Type "SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>

        <div *ngFor=" let pram of itm.parametersList; let i = index">

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TITLE'">
            <div class="col col-6"><label class="formLabel">{{itm.parametersList[i].value}} :</label></div><br>
          </div>

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TEXT'">
            <br>
            <br>
            {{openDataSINGLE_SHORT_TEXT_ONE_VIEW_SELECTED(i)}}
            <section class="col-md-5"><label>{{pram.value}} <br></label><label class="input"><input style="width: 100%;height: 30px" type="text" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[i]" (change)="override()"></label></section>
            <br>
          </div>


          <span *ngIf="itm.parametersList[i].key != 'OPTION_HELPER_TITLE' && itm.parametersList[i].key != 'OPTION_HELPER_TEXT';">
            <span *ngFor="let radio of itm.parametersList[i]; let j = index" style="display: inline-block;padding-right: 20px">
              <label ><input class="radio" type="radio" [name]="'radio-inline'+ SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED_INDEX+1" [value]="radio.value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[(i)]" (change)="override()"><i></i>      {{radio.value}} <br></label>
            </span>
          </span>

        </div>

      </div>


      <!--Type "MULTI_SHORT_TEXT_ONE_VIEW_SELECTED"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'MULTI_SHORT_TEXT_ONE_VIEW_SELECTED'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <span *ngFor=" let pram of itm.parametersList; let i = index;">

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TITLE'">
            <div class="col col-6"><label class="formLabel">{{pram.value}} :</label></div>
          </div>

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TEXT'" style="width: 100% !important;display: block">
            {{openDataMULTI_SHORT_TEXT_ONE_VIEW_SELECTED(i)}}
            <section class="col-md-3"><label class="" style="">{{pram.value}}</label><label class="input"><input style="width: 100%;height: 30px" type="text" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[i]" (change)="override()"></label></section>
            <br>
          </div>

          <span *ngIf="itm.parametersList[i].key != 'OPTION_HELPER_TITLE' && itm.parametersList[i].key != 'OPTION_HELPER_TEXT';">
            <span style="display: inline-block;width:  100px;">
              <label><input type="radio" class="radio" [name]="'radio-inline'+ itm.questionNumber" [value]="itm.parametersList[i].value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[MULTI_SHORT_TEXT_ONE_VIEW_SELECTED_Index+1]" (change)="override()"><i></i>      {{pram.value}} </label>
            </span>
          </span>

        </span>
      </div>




      <!--Type "LONG_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER"-->
      <!--Type "LONG_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER' ||
                  itm.dailyReportQuestionType.title == 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER'">

        <div style="display: inline-block;width: 100%;">
          <label class="formLabel" style="width:initial ;float: left">
          {{itm.question}} :
        </label>

          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>

          <button ion-button icon-only clear style="height: 25px;width: 25px; padding: 0;margin-bottom: 20px;float: right" (click)="editSaveQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == false && showEditButton()" [hidden]="!editQuestionAllowed">
            <ion-icon style="font-size: 20px;" name="create"></ion-icon>
          </button>

          <button ion-button icon-only clear style="padding: 0; width: 70px;float: right; margin-top: -7px" (click)="cancelEditigQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == true">
            cancel
          </button>

          <button ion-button icon-only clear style="padding: 0;width: 50px;float: right; margin-top: -7px" (click)="editSaveQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == true">
            save
          </button>
        </div>

        <br>


        <span *ngFor="let pram of itm.parametersList;let j = index" style="display: block">
          <span *ngIf="pram.key == 'OPTION_HELPER_TEXT' || pram.key == 'OPTION_ANSWER'">
            <span style="display: inline-block;width: 100%; margin-bottom: 20px">
              <label style="bottom: 5px; float:left;"><input class="checkbox" type="checkbox"  [name]="'checkbox'+itm.questionNumber" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[pram.id]">
                <i></i> {{pram.value}} </label>
              <button ion-button icon-only clear style="height: 25px;width: 25px; padding: 0;bottom: 5px;float: right;" (click)="removeQuestionParameter(itm.questionNumber ,pram.id)" *ngIf="itm.editQuestion == true" [disabled]="!editQuestionAllowed">
            <ion-icon style="font-size: 20px;" name="trash"></ion-icon>
          </button>
            </span>
          </span>
        </span>

        <ion-row style="display: inline-block; width: 100%">
          <input style="width: calc(100% - 50px); height: 40px; padding: 0" *ngIf="itm.editQuestion == true" [(ngModel)]="reportQuestionsEditParamTemps[itm.questionNumber].parameters[0].value" class="form-control" placeholder=" Pleas enter your new question" />
          <button ion-button icon-only clear style="width: 40px; height: 40px; padding: 0;margin: 0;float: right" (click)="addParameterForQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == true">
            add
          </button>
        </ion-row>
      </div>




      <!--Type "LONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <span *ngFor="let pram of itm.parametersList; let i = index;" class="longOneAnswer">
          <label style="display: inline-block"><input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" ng-change="enableOther(itm.questionNumber + ',' + i)" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer"><i></i>     {{pram.value}}</label>
        </span>
      </div>




      <!--Type "CONSTANT_SHORT_HELPER_TEXT_QUESTION"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'CONSTANT_SHORT_HELPER_TEXT_QUESTION';">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <span *ngFor="let pram of itm.parametersList; let k = index;" style="display: block;" >
          <section class="col col-2"><label style="margin-top: 5px"> {{pram.value}}   </label><label class="input"><input style="width: 100%;height: 30px;" type="text" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[k]"></label></section>
        </span>


      </div>





      <!--Type "SHORT_HELPER_TEXT_QUESTION"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'SHORT_HELPER_TEXT_QUESTION';let i = index;">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="row" style="">

          <div style="display: inline-block; padding-right: 20px" *ngFor="let pram of itm.parametersList; let TEMP = index">
            <section class="section" style="margin-left: 9px;width: {{100/itm.parametersList.length}} %">
              <label class="formLabel ng-scope" style="margin-top: 5px;font-weight: normal">
                {{pram.value}} :
              </label>
              <br>
              <label class="input">
                <input style="width: 70px; height: 35px;" type="text" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[TEMP.toString()]">
              </label>
            </section>
          </div><br>

        </div>

      </div>






      <!--Type "DROPDOWN_MENU_ONE_VIEW_SELECTED_EN"-->
      <!--Type "DROPDOWN_MENU_ONE_VIEW_SELECTED_AR"-->
      <div *ngIf="itm.dailyReportQuestionType.title == 'DROPDOWN_MENU_ONE_VIEW_SELECTED_EN' || itm.dailyReportQuestionType.title == 'DROPDOWN_MENU_ONE_VIEW_SELECTED_AR';let i = index;">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>


        <div *ngFor=" let pram of itm.parametersList; let i = index">

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TITLE'">
            <div class="col col-6"><label class="formLabel">{{itm.parametersList[i].value}} :</label></div><br>
          </div>

          <div *ngIf="itm.parametersList[i].key == 'OPTION_DROP_DOWN'">
            <br>{{console.log('Data'+i)}}
            {{openDataDROPDOWN_MENU_ONE_VIEW_SELECTED(i)}}
            <ion-label>{{itm.parametersList[i].value}}</ion-label>
            <ion-item style="padding: 0;margin: 0">
              <ion-select style="width: 100%;max-width: 100%" [placeholder]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[i]" multiple="false" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[i]">
                <ion-option *ngFor="let itmPram of selectionData.get(itm.id)" [value]="itmPram.value">{{itmPram.value}}</ion-option>
              </ion-select>
            </ion-item>
            <br>
          </div>


          <div *ngIf="itm.parametersList[i].key != 'OPTION_HELPER_TITLE' && itm.parametersList[i].key != 'OPTION_DROP_DOWN';">
            <div *ngFor="let radio of itm.parametersList[i]; let j = index" style="display: inline-block;padding-right: 20px">
              <label ><input class="radio" type="radio" [name]="'radio-inline'+itm.questionNumber + i" [value]="radio.value" [(ngModel)]="reportAnswer.dailyReportAnswersObjectsList[itm.questionNumber].answer[i]" (change)="override()"><i></i>      {{radio.value}} <br></label>
            </div>
          </div>

        </div>

      </div>


      <!--Type "Else"-->
      <div *ngIf="itm.dailyReportQuestionType.title != 'TEXT_QUESTION' && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER'
       && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER' && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_EN'
        && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_AR' && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER_WITH_EDIT'
         && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_EDIT' && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'
         && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTISELECT_ANSWER_WITH_TEXT_QUESTION' && itm.dailyReportQuestionType.title != 'SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED'
          && itm.dailyReportQuestionType.title != 'MULTI_SHORT_TEXT_ONE_VIEW_SELECTED' && itm.dailyReportQuestionType.title != 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER'
           && itm.dailyReportQuestionType.title != 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER' && itm.dailyReportQuestionType.title != 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'
            && itm.dailyReportQuestionType.title != 'CONSTANT_SHORT_HELPER_TEXT_QUESTION' && itm.dailyReportQuestionType.title != 'SHORT_HELPER_TEXT_QUESTION'
             && itm.dailyReportQuestionType.title != 'DROPDOWN_MENU_ONE_VIEW_SELECTED_EN' && itm.dailyReportQuestionType.title != 'DROPDOWN_MENU_ONE_VIEW_SELECTED_AR'
              && itm.dailyReportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_TEXT_QUESTION'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>
        <div class="row">
          <div class="col col-4">

          </div>
        </div>
      </div>















    </div>
    <!--<div padding="10px" [innerHTML]="sanitizer.bypassSecurityTrustHtml(reportTemplate)"></div>-->
  </ion-card>


                                                          <!--CUSTOM REPORT-->


  <ion-card style="border-radius: 10px; padding-bottom: 10px"  *ngIf="accountServ.reportId != -1">
    <div style="padding-bottom: 0;padding-right: 10px;padding-left: 10px;padding-top: 10px" *ngFor="let itm of drQuestion; let drIndex = index">


      <!--Type "TEXT_QUESTION"-->
      <div *ngIf="itm.reportQuestionType.title == 'TEXT_QUESTION'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <label class="textarea">
    <textarea rows="3" class="custom-scroll" style="width: 100%" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer">
    </textarea>
        </label>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER"-->
      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER' ||
                  itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>
        <div class="inline-group">
          <div *ngFor="let parameter of itm.parametersList" class="LopContain" >
            <label >
              <input class="checkbox" type="checkbox"  [name]="'checkbox'+itm.questionNumber" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[parameter.id]">
              <i></i>
              {{parameter.value}}
            </label>
          </div>
        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_EN"-->
      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_AR"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_EN' ||
                  itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_AR'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div *ngFor="let param of itm.parametersList; let i = index" style="display: block">

          <div *ngIf="param.key == 'OPTION_ANSWER'" >
            <div class="inline-group">
              <label  col-md-9 col-sm-9 col-xs-9>
                <input class="checkbox" type="checkbox" [name]="'checkbox'+itm.questionNumber" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[itm.parametersList[i].id]">
                <i></i>
                <input type="number" required [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[itm.parametersList[i].id+1]" style="width:50px;height: 25px;left: 0px;position: relative;margin-left: 10px;margin-right: 10px;padding-bottom: 4px;top: -5px;" [disabled]="!reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[itm.parametersList[i].id]">
                {{itm.parametersList[i].value}}
              </label>
            </div>
          </div>

        </div>

      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER_WITH_EDIT"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER_WITH_EDIT'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>
        <div class="inline-group">

          <div *ngFor="let pram of itm.parametersList;let i = index" class="LopContain">
            <div *ngIf="pram.key == 'OPTION_ANSWER'">

              <label >
                <input class="checkbox" type="checkbox" [name]="'checkbox' + itm.questionNumber" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[i]">
                <i></i>
                {{itm.parametersList[i].value}}
              </label>

            </div>
          </div>

        </div>

        <div style=" clear: both;">
          <div *ngFor="let pram of itm.parametersList;let i = index" >
            <div *ngIf="pram.key != 'OPTION_ANSWER'">

              <label>
                {{itm.parametersList[i].value}}
              </label>
              <label class="textarea">
                <textarea rows="3" cols="50" class="custom-scroll" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[i]"></textarea>
              </label>
            </div>
          </div>
        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_EDIT"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_EDIT'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="row">
          <div class="col col-12 inline-group">
            <div *ngFor="let pram of itm.parametersList; let i = index" class="LopContain">
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER'">

                <label style="display: inline-block">
                  <input class="radio" type="radio" [name]="'radio-inline'+itm.questionNumber" [value]="itm.parametersList[i].value"
                         (change)="enableOther(itm.questionNumber,i)" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[0]">
                  <i></i>
                  {{pram.value}}
                </label>


              </div>
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER_WITH_EDIT'">

                <div style="display: inline-block">
                  <label >
                    <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="itm.parametersList[i].value"
                           (change)="enableOther(itm.questionNumber + ',' + i)" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[0]">
                    <i></i>
                    {{pram.value}}
                  </label>
                  <label class="textarea">
                    <textarea rows="1" style="width:100%" class="custom-scroll" [disabled]="enableOtherNote[itm.questionNumber]"
                              ng-init="enableOtherNote[' + drQuestion.questionNumber + ']=' + true + '" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[1]">
                    </textarea>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div *ngFor="let pram of itm.parametersList" class="LopContain">
          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Food'" style="display: inline-block">
            <ion-row>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber ].answer">
              <img [src]="'assets/food/'+pram.value+'.png'" class="imgOfRadio">
            </ion-row>
          </div>

          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Mood'"style="display: inline-block">
            <ion-row>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber ].answer">
              <img [src]="'assets/mood/'+pram.value+'.png'" class="imgOfRadio">
            </ion-row>
          </div>

          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Milk'"style="display: inline-block">
            <ion-row>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber ].answer">
              <img [src]="'assets/milk/'+pram.value+'.png'" class="imgOfRadio">
            </ion-row>
          </div>

          <div *ngIf="setImageOrLable(itm.question,pram.value) == 'Label'">
            <label>
              <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber ].answer">
              <i></i>
              {{pram.value}}
            </label>
          </div>

        </div>

      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_TEXT_QUESTION"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_TEXT_QUESTION'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="">
          <div class="inline-group">

            <div *ngFor="let pram of itm.parametersList; let i = index" class="LopContain">
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER'">
                <label >
                  <input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[0]">
                  <i></i>
                  {{pram.value}}
                </label>
              </div>
            </div>

          </div>
        </div>
        <div style=" clear: both;" >

          <div *ngFor="let pram of itm.parametersList; let i = index">
            <div *ngIf="itm.parametersList[i].key != 'OPTION_ANSWER'">
              <label>
                {{pram.value}}
              </label>
              <label class="textarea">
                <textarea rows="2" cols="50" class="custom-scroll" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[1]">
                </textarea>
              </label>
            </div>
          </div>

        </div>
      </div>


      <!--Type "SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTISELECT_ANSWER_WITH_TEXT_QUESTION"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTISELECT_ANSWER_WITH_TEXT_QUESTION'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="row">
          <div class="col col-12">

            <div *ngFor="let pram of itm.parametersList; let i = index" class="LopContain">
              <div *ngIf="itm.parametersList[i].key == 'OPTION_ANSWER'">
                <label >
                  <input class="checkbox" type="checkbox" [name]="'checkbox' + itm.questionNumber+i"
                         ng-change="disableNote(reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[0],itm.questionNumber)"
                         [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[0]">
                  <i></i>
                  {{itm.parametersList[i].value}}
                </label>
              </div>
            </div>

          </div>
        </div>
        <div>

          <div *ngFor="let pram of itm.parametersList; let i = index">
            <div *ngIf="itm.parametersList[i].key != 'OPTION_ANSWER'">
              <label>
                {{itm.parametersList[i].value}}
              </label>
              <label class="textarea">
                <textarea  [disabled]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[0]"
                           rows="3" class="custom-scroll"
                           [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[1]">
                </textarea>
              </label>
            </div>

          </div>
        </div>

      </div>


      <!--Type "SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED"-->
      <div *ngIf="itm.reportQuestionType.title == 'SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>

        <div *ngFor=" let pram of itm.parametersList; let i = index">

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TITLE'">
            <div class="col col-6"><label class="formLabel">{{itm.parametersList[i].value}} :</label></div><br>
          </div>

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TEXT'">
            <br>
            <br>
            {{openDataSINGLE_SHORT_TEXT_ONE_VIEW_SELECTED(i)}}
            <section class="col-md-5"><label>{{pram.value}} <br></label><label class="input"><input style="width: 100%;height: 30px" type="text" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[i]" (change)="override()"></label></section>
            <br>
          </div>


          <span *ngIf="itm.parametersList[i].key != 'OPTION_HELPER_TITLE' && itm.parametersList[i].key != 'OPTION_HELPER_TEXT';">
            <span *ngFor="let radio of itm.parametersList[i]; let j = index" style="display: inline-block;padding-right: 20px">
              <label ><input class="radio" type="radio" [name]="'radio-inline'+ SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED_INDEX+1" [value]="radio.value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[(i)]" (change)="override()"><i></i>      {{radio.value}} <br></label>
            </span>
          </span>

        </div>

      </div>


      <!--Type "MULTI_SHORT_TEXT_ONE_VIEW_SELECTED"-->
      <div *ngIf="itm.reportQuestionType.title == 'MULTI_SHORT_TEXT_ONE_VIEW_SELECTED'">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <span *ngFor=" let pram of itm.parametersList; let i = index;">

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TITLE'">
            <div class="col col-6"><label class="formLabel">{{pram.value}} :</label></div>
          </div>

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TEXT'" style="width: 100% !important;display: block">
            {{openDataMULTI_SHORT_TEXT_ONE_VIEW_SELECTED(i)}}
            <section class="col-md-3"><label class="" style="">{{pram.value}}</label><label class="input"><input style="width: 100%;height: 30px" type="text" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[i]" (change)="override()"></label></section>
            <br>
          </div>

          <span *ngIf="itm.parametersList[i].key != 'OPTION_HELPER_TITLE' && itm.parametersList[i].key != 'OPTION_HELPER_TEXT';">
            <span style="display: inline-block;width:  100px;">
              <label><input type="radio" class="radio" [name]="'radio-inline'+ itm.questionNumber" [value]="itm.parametersList[i].value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[MULTI_SHORT_TEXT_ONE_VIEW_SELECTED_Index+1]" (change)="override()"><i></i>      {{pram.value}} </label>
            </span>
          </span>

        </span>
      </div>




      <!--Type "LONG_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER"-->
      <!--Type "LONG_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER"-->
      <div *ngIf="itm.reportQuestionType.title == 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER' ||
                  itm.reportQuestionType.title == 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER'">

        <div style="display: inline-block;width: 100%;">
          <label class="formLabel" style="width:initial ;float: left">
            {{itm.question}} :
          </label>

          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>

          <button ion-button icon-only clear style="height: 25px;width: 25px; padding: 0;margin-bottom: 20px;float: right" (click)="editSaveQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == false && showEditButton()" [hidden]="!editQuestionAllowed">
            <ion-icon style="font-size: 20px;" name="create"></ion-icon>
          </button>

          <button ion-button icon-only clear style="padding: 0; width: 70px;float: right; margin-top: -7px" (click)="cancelEditigQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == true">
            cancel
          </button>

          <button ion-button icon-only clear style="padding: 0;width: 50px;float: right; margin-top: -7px" (click)="editSaveQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == true">
            save
          </button>
        </div>

        <br>


        <span *ngFor="let pram of itm.parametersList;let j = index" style="display: block">
          <span *ngIf="pram.key == 'OPTION_HELPER_TEXT' || pram.key == 'OPTION_ANSWER'">
            <span style="display: inline-block;width: 100%; margin-bottom: 20px">
              <label style="bottom: 5px; float:left;"><input class="checkbox" type="checkbox"  [name]="'checkbox'+itm.questionNumber" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[pram.id]">
                <i></i> {{pram.value}} </label>
              <button ion-button icon-only clear style="height: 25px;width: 25px; padding: 0;bottom: 5px;float: right;" (click)="removeQuestionParameter(itm.questionNumber ,pram.id)" *ngIf="itm.editQuestion == true" [disabled]="!editQuestionAllowed">
            <ion-icon style="font-size: 20px;" name="trash"></ion-icon>
          </button>
            </span>
          </span>
        </span>

        <ion-row style="display: inline-block; width: 100%">
          <input style="width: calc(100% - 50px); height: 40px; padding: 0" *ngIf="itm.editQuestion == true" [(ngModel)]="reportQuestionsEditParamTemps[itm.questionNumber].parameters[0].value" class="form-control" placeholder=" Pleas enter your new question" />
          <button ion-button icon-only clear style="width: 40px; height: 40px; padding: 0;margin: 0;float: right" (click)="addParameterForQuestion(itm.questionNumber)" *ngIf="itm.editQuestion == true">
            add
          </button>
        </ion-row>
      </div>




      <!--Type "LONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER"-->
      <div *ngIf="itm.reportQuestionType.title == 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <span *ngFor="let pram of itm.parametersList; let i = index;" class="longOneAnswer">
          <label style="display: inline-block"><input class="radio" type="radio" [name]="'radio-inline' + itm.questionNumber" [value]="pram.value" ng-change="enableOther(itm.questionNumber + ',' + i)" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer"><i></i>     {{pram.value}}</label>
        </span>
      </div>




      <!--Type "CONSTANT_SHORT_HELPER_TEXT_QUESTION"-->
      <div *ngIf="itm.reportQuestionType.title == 'CONSTANT_SHORT_HELPER_TEXT_QUESTION';">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <span *ngFor="let pram of itm.parametersList; let k = index;" style="display: block;" >
          <section class="col col-2"><label style="margin-top: 5px"> {{pram.value}}   </label><label class="input"><input style="width: 100%;height: 30px;" type="text" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[k]"></label></section>
        </span>


      </div>





      <!--Type "SHORT_HELPER_TEXT_QUESTION"-->
      <div *ngIf="itm.reportQuestionType.title == 'SHORT_HELPER_TEXT_QUESTION';let i = index;">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>

        <div class="row" style="">

          <div style="display: inline-block; padding-right: 20px" *ngFor="let pram of itm.parametersList; let TEMP = index">
            <section class="section" style="margin-left: 9px;width: {{100/itm.parametersList.length}} %">
              <label class="formLabel ng-scope" style="margin-top: 5px;font-weight: normal">
                {{pram.value}} :
              </label>
              <br>
              <label class="input">
                <input style="width: 70px; height: 35px;" type="text" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[TEMP.toString()]">
              </label>
            </section>
          </div><br>

        </div>

      </div>






      <!--Type "DROPDOWN_MENU_ONE_VIEW_SELECTED_EN"-->
      <!--Type "DROPDOWN_MENU_ONE_VIEW_SELECTED_AR"-->
      <div *ngIf="itm.reportQuestionType.title == 'DROPDOWN_MENU_ONE_VIEW_SELECTED_EN' || itm.reportQuestionType.title == 'DROPDOWN_MENU_ONE_VIEW_SELECTED_AR';let i = index;">

        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>


        <div *ngFor=" let pram of itm.parametersList; let i = index">

          <div *ngIf="itm.parametersList[i].key == 'OPTION_HELPER_TITLE'">
            <div class="col col-6"><label class="formLabel">{{itm.parametersList[i].value}} :</label></div><br>
          </div>

          <div *ngIf="itm.parametersList[i].key == 'OPTION_DROP_DOWN'">
            <br>{{console.log('Data'+i)}}
            {{openDataDROPDOWN_MENU_ONE_VIEW_SELECTED(i)}}
            <ion-label>{{itm.parametersList[i].value}}</ion-label>
            <ion-item style="padding: 0;margin: 0">
              <ion-select style="width: 100%;max-width: 100%" [placeholder]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[i]" multiple="false" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[i]">
                <ion-option *ngFor="let itmPram of selectionData.get(itm.id)" [value]="itmPram.value">{{itmPram.value}}</ion-option>
              </ion-select>
            </ion-item>
            <br>
          </div>


          <div *ngIf="itm.parametersList[i].key != 'OPTION_HELPER_TITLE' && itm.parametersList[i].key != 'OPTION_DROP_DOWN';">
            <div *ngFor="let radio of itm.parametersList[i]; let j = index" style="display: inline-block;padding-right: 20px">
              <label ><input class="radio" type="radio" [name]="'radio-inline'+itm.questionNumber + i" [value]="radio.value" [(ngModel)]="reportAnswer.reportAnswersObjectsList[itm.questionNumber].answer[i]" (change)="override()"><i></i>      {{radio.value}} <br></label>
            </div>
          </div>

        </div>

      </div>


      <!--Type "Else"-->
      <div *ngIf="itm.reportQuestionType.title != 'TEXT_QUESTION' && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER'
       && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER' && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_EN'
        && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER_INPUT_BOX_AR' && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER_WITH_EDIT'
         && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_EDIT' && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'
         && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_MULTISELECT_ANSWER_WITH_TEXT_QUESTION' && itm.reportQuestionType.title != 'SINGLE_SHORT_TEXT_ONE_VIEW_SELECTED'
          && itm.reportQuestionType.title != 'MULTI_SHORT_TEXT_ONE_VIEW_SELECTED' && itm.reportQuestionType.title != 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_MULTIPLE_ANSWER'
           && itm.reportQuestionType.title != 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_NONE_ANSWER' && itm.reportQuestionType.title != 'LONG_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER'
            && itm.reportQuestionType.title != 'CONSTANT_SHORT_HELPER_TEXT_QUESTION' && itm.reportQuestionType.title != 'SHORT_HELPER_TEXT_QUESTION'
             && itm.reportQuestionType.title != 'DROPDOWN_MENU_ONE_VIEW_SELECTED_EN' && itm.reportQuestionType.title != 'DROPDOWN_MENU_ONE_VIEW_SELECTED_AR'
              && itm.reportQuestionType.title != 'SHORT_TEXT_MULTISELECT_VIEW_SELECTED_ONE_ANSWER_WITH_TEXT_QUESTION'">
        <ion-row>
          <label class="formLabel" style="float: left;width: calc(100% - 1.2em);">
            {{itm.question}} :
          </label>
          <ion-icon style="float: right" name="alert" color="danger" *ngIf="showConflict(drIndex)"></ion-icon>
        </ion-row>
        <br>
        <div class="row">
          <div class="col col-4">

          </div>
        </div>
      </div>















    </div>
    <!--<div padding="10px" [innerHTML]="sanitizer.bypassSecurityTrustHtml(reportTemplate)"></div>-->
  </ion-card>




  <ion-fab bottom right #fab>
    <button ion-fab mini><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="top" >


      <button ion-fab style="background-color: #309CCE" (click)="fabSelected('rest',fab)" *ngIf="showRestButton() && navParams.get('selected').length == 1">
        <img src="assets/icon/reset.png">
        <ion-label>Rest</ion-label>
      </button>


      <button ion-fab style="background-color: #309CCE" (click)="fabSelected('save',fab)" *ngIf="showSaveOrUpdate() == 'save' && showButtonOfSaveOrUpdate()">
        <img src="assets/icon/save.png">
        <ion-label>Save</ion-label>
      </button>

      <button ion-fab style="background-color: #309CCE" (click)="fabSelected('update',fab)" *ngIf="showSaveOrUpdate() == 'update' && showButtonOfSaveOrUpdate()">
        <img src="assets/icon/save.png">
        <ion-label>Update</ion-label>
      </button>


      <button ion-fab style="background-color: #309CCE" (click)="fabSelected('approve',fab)" *ngIf="showApproveButton()">
        <img style="filter: brightness(0) invert(1);" src="assets/icon/approved_black.png">
        <ion-label>Approve</ion-label>
      </button>


    </ion-fab-list>
  </ion-fab>

</ion-content>
