page-report-template {

  .contentColor{
    background: #e5e5e5;
  }

  .dateTopCenterBoldGray{
    padding: 4px;
    margin: 0;
    color: #488aff;
    font-size: 18px;
  }

  .checkbox{
    -webkit-appearance: none;
    border-radius: 50%;
    position: relative;
    width: 21px;
    height: 21px;
    border-width: 1px;
    border-style: solid;
    border-color: #c8c7cc;
    background-color: #fff;
  }

  .checkbox:checked::before
  {
    position: absolute;
    font: 11px/1 'Open Sans', sans-serif;
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    content: '\02143';
    transform: rotate(45deg);
    color: #fff;
    -webkit-transform: rotate(45deg);
  }

  .checkbox:checked
  {
    border-color: #488aff;
    background-color: #488aff;
  }


  .radio{
    -webkit-appearance: none;
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    //display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
  }

  .radio:checked::before
  {
    //position: absolute;
    //font: 11px/1 'Open Sans', sans-serif;
    //left: 4px;
    //top: -1px;
    //width: 4px;
    //height: 9px;
    content: '';
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #488aff;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);

    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  .radio:checked
  {
    border-color: #488aff;
  }

  .longOneAnswer{
    display: block;
    padding-bottom: 20px;
  }



  butonOfEdit{
    width: 5px;
    height: 5px;
  }




  .col{
    width: 100%;
  }

  .input{
    width: 100%;
  }

  .section{
    display: inline-block;
  }

  .custom-scroll{
    width: 100%;
  }

  .panel-body {
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dropdown-menu {
    /*width: 78%;*/
    margin-right: 11px;
  }


  .label-as-badge {
    border-radius: 1em;
  }

  .LopContain{
    display:inline-block;
    padding-right: 0;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .LoopContainWithoutWidth{
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .inline-group{
    display:inline-block;
    width: 100%;
  }

  .T7sen{
    display: inline !important;
  }

  .row{
    padding-top: 10px;
    padding-bottom: 10px;
  }


  .formLabel {
    width: 100%;
    font-size: 18px;
    //margin-bottom: 10px;
    //margin-top: 13px;
    //padding-bottom: 10px;
    font-weight: bold;
  }

  .englishPostionApprove {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;

  }

  .arabicPostionApprove {
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
  }

  .englishPostionRemaining {
    position: absolute;
    top: 15px;
    right: 190px;
    float: right;
  }

  .arabicPostionRemaining {
    position: absolute;
    top: 15px;
    left: 130px;
    float: left;
  }

  .col-md-auto {
    width: auto;
  }
  @-webkit-keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  @-moz-keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  @-o-keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  @keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  .selectClassArabicPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
    margin-right: -29px !important;
    padding-top: 1px !important;
  }

  .selectClassArabicPostion .checkbox label::after {
    padding-top: 3px !important;
    padding-right: 2px;
  }

  .selectClassArabicPostion .checkbox input[type=checkbox] {
    margin-top: 10px;
    margin-right: 15px;
  }

  .selectClassEnglishPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
    margin-left: -22px !important;
    padding-top: 1px !important;
  }

  .selectClassEnglishPostion .checkbox label::after {
    padding-top: 3px !important;
  }

  .selectClassEnglishPostion .checkbox input[type=checkbox] {
    margin-top: 10px;
  }

  /*  .date .dropdown-menu{
      width: 83%;
  }*/
  .englishPostionSelectClass {
    padding-left: 27px;

  }

  .arabicPostionSelectClass {
    padding-right: 30px;

  }

  .multiStudentEnglishPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
  }

  .multiStudentArabicPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
    margin-right: -10px !important;
  }

  .multiStudentArabicPostion .checkbox label::after {
    padding-right: 2px;
  }

  .commentContainer {
    position: relative;
    max-height: 400px;
    overflow-x: auto;
    background: #f5f5f5;
  }

  .multiStudentEnglishPostion .checkbox input[type=checkbox] {
    margin-top: 15px;
  }

  .multiStudentArabicPostion .checkbox input[type=checkbox] {
    margin-right: 15px;
  }

  .multiStudentArabicPostion .checkbox input[type=checkbox] {
    margin-top: 15px;
  }

  .select {
    background-color: #D9EDF7;
    /*   background-color: #D6DDE7;
    */

  }

  .ui-select-choices-row.ng-hide {
    display: block !important;
  }

  .disable-true {
    opacity: .35;
    background-color: lightgray;
    border: 1px solid gray;

  }

  .commentEditDeleteTools {
    padding-top: 0px;
    position: absolute;
    right: -2px;
    z-index: 1;
    padding-right: 8px;
    top: 0px;
  }

  .fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }

  .fadein {
    opacity: 1;
  }

  .sample-show-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    max-width: 345px;
  }

  .sample-show-hide.ng-hide {
    opacity: 0;
  }

  .message {
    background: rgba(255, 255, 255, .8);
    display: absolute;
    padding-top: 0px;
    position: absolute;
    right: -2px;
    z-index: 1;
    padding-right: 8px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .messageSpan {
    font-size: 18px;
    display: inline-block;
    margin-top: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
  }

  .media-body textarea {
    width: 99%;
  }

  .replace {
    display: none;
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  .div > div > h1 > i {
    display: block;
  }

  .custom-scroll::-webkit-scrollbar{-webkit-overflow-scrolling:touch;height:10px;width:10px}
  //border-radius: 50%;
  //position: relative;
  //width: 21px;
  //height: 21px;
  //border-width: 1px;
  //border-style: solid;
  //border-color: #c8c7cc;
  //background-color: #fff;
}
