page-report-template {

  .contentColor{
    background: #e5e5e5;
  }

  .dateTopCenterBoldGray{
    padding: 4px;
    margin: 0;
    color: #488aff;
    font-size: 18px;
  }



  .panel-body {
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dropdown-menu {
    /*width: 78%;*/
    margin-right: 11px;
  }


  .label-as-badge {
    border-radius: 1em;
  }

  .LopContain{
    display:inline-block;
    padding-right: 20px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .inline-group{
    padding-right: 20px;
  }

  .formLabel {
    width: 100%;
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 13px;
  }

  .englishPostionApprove {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;

  }

  .arabicPostionApprove {
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
  }

  .englishPostionRemaining {
    position: absolute;
    top: 15px;
    right: 190px;
    float: right;
  }

  .arabicPostionRemaining {
    position: absolute;
    top: 15px;
    left: 130px;
    float: left;
  }

  .col-md-auto {
    width: auto;
  }

  .greenlight {
    width: 120px;
    top: -50%;
    height: 250%;
    position: absolute;
    animation: greenglow 3s linear infinite;
    -webkit-animation: greenglow 3s linear infinite;
    z-index: 2;

    -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
    /*background: linear-gradient(to bottom, rgba(166,229,179,1) 0%,rgba(166,229,179,1)42%,rgba(0,219,49,1) 42%);*/
    background: #3276b1;
  }

  @-webkit-keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  @-moz-keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  @-o-keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  @keyframes greenglow {
    from {
      left: -120px;
    }
    to {
      left: 100%;
    }
  }

  .selectClassArabicPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
    margin-right: -29px !important;
    padding-top: 1px !important;
  }

  .selectClassArabicPostion .checkbox label::after {
    padding-top: 3px !important;
    padding-right: 2px;
  }

  .selectClassArabicPostion .checkbox input[type=checkbox] {
    margin-top: 10px;
    margin-right: 15px;
  }

  .selectClassEnglishPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
    margin-left: -22px !important;
    padding-top: 1px !important;
  }

  .selectClassEnglishPostion .checkbox label::after {
    padding-top: 3px !important;
  }

  .selectClassEnglishPostion .checkbox input[type=checkbox] {
    margin-top: 10px;
  }

  /*  .date .dropdown-menu{
      width: 83%;
  }*/
  .englishPostionSelectClass {
    padding-left: 27px;

  }

  .arabicPostionSelectClass {
    padding-right: 30px;

  }

  .multiStudentEnglishPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
  }

  .multiStudentArabicPostion .checkbox {
    position: absolute !important;
    display: inline-block;
    min-height: 18px;
    margin-top: -10px !important;
    margin-right: -10px !important;
  }

  .multiStudentArabicPostion .checkbox label::after {
    padding-right: 2px;
  }

  .commentContainer {
    position: relative;
    max-height: 400px;
    overflow-x: auto;
    background: #f5f5f5;
  }

  .multiStudentEnglishPostion .checkbox input[type=checkbox] {
    margin-top: 15px;
  }

  .multiStudentArabicPostion .checkbox input[type=checkbox] {
    margin-right: 15px;
  }

  .multiStudentArabicPostion .checkbox input[type=checkbox] {
    margin-top: 15px;
  }

  .select {
    background-color: #D9EDF7;
    /*   background-color: #D6DDE7;
    */

  }

  .table-hang tbody tr:hover td {
    background-color: #F5F5F5;
    color: black;
  }

  tr.borderSelect td {

    color: white;
    background-color: #4879BB !important;

    /*background-color:#9CB4C5!important;
    */
  }

  .test {
    width: 100%;
    max-width: 250px;
    word-wrap: break-word;
    white-space: initial;
  }

  .ui-select-choices-row.ng-hide {
    display: block !important;
  }

  .disable-true {
    opacity: .35;
    background-color: lightgray;
    border: 1px solid gray;

  }

  .commentEditDeleteTools {
    padding-top: 0px;
    position: absolute;
    right: -2px;
    z-index: 1;
    padding-right: 8px;
    top: 0px;
  }

  .fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }

  .fadein {
    opacity: 1;
  }

  .sample-show-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    max-width: 345px;
  }

  .sample-show-hide.ng-hide {
    opacity: 0;
  }

  .message {
    background: rgba(255, 255, 255, .8);
    display: absolute;
    padding-top: 0px;
    position: absolute;
    right: -2px;
    z-index: 1;
    padding-right: 8px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .messageSpan {
    font-size: 18px;
    display: inline-block;
    margin-top: 25px;
    font-family: "Arial Black", Gadget, sans-serif;
  }

  .media-body textarea {
    width: 99%;
  }

  .replace {
    display: none;
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  .div > div > h1 > i {
    display: block;
  }

  .custom-scroll::-webkit-scrollbar{-webkit-overflow-scrolling:touch;height:10px;width:10px}

  /* .text-info {
    color: #FFFFFF;
  } */
}
